.welcome-banner {
  border-top: 0 solid white;
  border-bottom: 20px solid white;
  background-color: white;
}

.welcome-banner .action-button {
  width: 80%;
}

@media screen
and (max-width: 1200px) {
  .welcome-banner p {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen
and (max-width: 1000px) {
  .welcome-banner h2 {
    font-size: 2rem;
  }
}

@media screen
and (max-width: 768px) {

}

@media screen
and (max-width: 560px) {
}


@media screen
and (max-width: 320px) {
}
