/* timer */

li[data-id="695"]:before {
/*	content: "This is a header";
	display: block;*/
}

div#timer_wrap {
	background: #FDF5D9;
	padding: 15px;
	border-radius: 4px;
	border: 1px solid #EEFCE1;
	box-shadow: 0 0 5px #666;
	width: 150px;
	text-align: center;
	font-size: 1.3em;
	position: fixed;
	left: 20px;
}

@media screen 
  and (min-width: 1200px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

	div#timer_wrap {
		margin-right: 10px;
		position: fixed;
		right: 50px;
		left: inherit;
		}
}


div#timer_wrap > div {
	clear: both;
	width: 100%;
	padding: 0px 2px;
	text-align: center;
	font-size: 1.6em;
	display: block;
	background-color: #FFF;
	border-radius: 4px;
	border: 1px solid #e2e2e2;
	padding: 8px;
	margin-top: 10px;
}

.page-node-take div.alert {
	display: none;
}

.quiz-question-quiz-page .sentence,
fieldset#questions {
	width: 80%
}

.question_type_name {
	display: none
}

#questions .sentence {
	/*display: inline;*/
	display: block;
}


form  #questions {
	width: 100%;
	padding-right: 40%;
}


form #questions.full {
	padding-right: 0;
	font-size: 1.2em;
}




#questions .sentence_inline {
	display: block;
	font-size: 1.3em;
}

#questions .sentence_inline p {
	display: inline
}

span.word-formation {
	font-weight: bold;
	position: absolute;
	right: 0;
}


#quiz-question-answering-form {
	margin-top: 20px;
}

#quiz-question-answering-form .quiz-question-gapped-sentence h2,
#quiz-question-answering-form .quiz-question-keyword-transformation h2,
#quiz-question-answering-form .quiz-question-short-answer h2,
#quiz-question-answering-form .quiz-question-multichoice h2,
#quiz-question-answering-form  .quiz-question-word-formation h2 {
	display: none
}

#quiz-question-answering-form fieldset#answers {
	width: 70%;
	padding-top: 20px;
}

#quiz-question-answering-form fieldset#answers fieldset ol {
	list-style-type: decimal;
	list-style-position: outside;
	margin-left: 0;
	padding-left: 20px;
}

#quiz-question-answering-form  fieldset#answers ol li {
	padding-right:0;
	padding-top:0;
	position: relative;
	min-height: 40px;
	margin-top: 0;
}

#quiz-question-answering-form fieldset#answers ol li div {
	margin-top: 0;
	display: inline-block;
	padding-top: 0;
	position: relative;
	top: 0;
	width: 100%;
	border-right: 10px solid #FFF;
	padding: 5px;
}

fieldset#answers > p {
	font-weight: bold;
}

fieldset#answers ol li div label {
	visibility: hidden;
}

fieldset#answers ol li div input {
	padding-top: 0;
	margin-top: -25px;
}

span.example-spacer,
span.spacer {
	min-width: 80px;
	display: inline-block;
	border-bottom: 2px dotted black;
	height: 1.2em;
	margin-left: 5px;
	margin-right: 5px;
	padding-left:5px;
	padding-right:5px;
	background-color: #FFFFA5
}

.quiz-question-keyword-transformation {
	font-size: 1em;
}

.quiz-question-keyword-transformation span.spacer {
	width: 200px;
}


span.wr {
	white-space: nowrap;
}

span.example-spacer {
	font-style: oblique;
	line-height: 1.2em;
	font-weight: bold;
}


span.sentence span.counter,
span.sentence span.example-counter,
.quiz-question-gapped-sentence span.wr,
.quiz-question-keyword-transformation span.wr {
	font-size: .9em;
	font-weight: bolder;
	font-style: oblique;
	display: inline;
}

span.sentence span.counter:before{
	content: attr(data-counter) ".";
}


.entity-quiz-result-answer span.sentence span.spacer {
	background-color: transparent;
}

.entity-quiz-result-answer span.sentence span.counter:before {
	content: "";
}



.quiz-question-example0:before,
.quiz-question-gapped-sentence p:last-child:before,
.quiz-question-gapped-sentence span.wr span.counter:before,
.quiz-question-keyword-transformation:before,
.quiz-question-multichoice:before,
.quiz-question-keyword-transformation span.wr:before,
.field_example span.counter:before
{
	content: attr(data-counter) ".";
}


.quiz-question-gapped-sentence p:first-child:before{
	content:'0.';
	width: 30px;
	position: absolute;
	margin-left: -30px;
}

.quiz-question-gapped-sentence p:last-child:before {
	content: attr(data-counter) ".";
	width: 30px;
	position: absolute;
	margin-left: -30px;
}


.operative_sentence {
	margin-top: 0;
}

.kt.sentence,
.quiz-question-gapped-sentence,
.quiz-question-multichoice,
.quiz-question-keyword-transformation {
	margin-top:0;
	padding-top:0;
	margin-left: 30px;
	display: block;
}

#questions .quiz-question-keyword-transformation .sentence {
	font-size: 1em;
}

.kt.sentence:before {
	content: '0.';
}

.quiz-question-example0 {
	margin-left: 30px;
}



.quiz-question-example0:before,
.kt.sentence:before,
.quiz-question-gapped-sentence:before,
.quiz-question-multichoice:before,
.quiz-question-keyword-transformation:before {
	margin-left: -30px;
	display: inline-block;
	float: none;
	position: absolute;
}

fieldset#answers div.has-error {
	background-color: #fddfde;
	position: relative;
}

fieldset#answers div.has-error input {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

fieldset#answers div.has-error:before {
	right: 10px;
	top: 10px;
	content: 'You must provide an answer.';
	position: absolute;
	color: #a94442;
}

/* answers */
div.quiz-result-answer-quiz-result-answer .content {
	position: relative;
}

div.quiz-result-answer-quiz-result-answer .content .word-formation {
	clear: both;
	float: none;
	display: block;
	position: relative;
	padding: 3px;
}

div.quiz-result-answer-quiz-result-answer .content .sentence:before {
	/*content: 'Sentence: ';*/
	font-weight: normal;	
}

div.quiz-result-answer-quiz-result-answer .content .word-formation:before {
	content: 'Keyword: ';
	font-weight: normal;
}

.operative_word {
	font-weight: bold;
	text-transform: uppercase;
}


span.example.operative_word{
	position: absolute;
	right: 0;
	clear: right;
	width: 25%;
	text-align: left;
}

tr.multichoice-row { 
	width: 23%; 
	display: inline-block;
}

div.form-type-radios {
	margin-bottom: 0;
	margin-top: 10px;
}

table > tbody > tr.multichoice-row > td {
	border-top:0;
}


div.quiz-page-image {
	margin-top: 20px;
}


div.quiz-page-image div.row {
	position: relative;
	padding-left: 15px;
	clear: both;
}

div.quiz-page-image div.row div {
	padding-left:0;
	display: inline-block;
	float: left;
}

div.quiz-page-image div.row div:before {
	content: attr(data-title);
	position: absolute;
	top: 4px;
	left: 4px;
	z-index: 2;
	background-color: yellow;
	color: #000;
	font-weight: bold;
	font-size: 16px;
	line-height: 30px;
	height: 30px;
	border: 1px solid #000;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	width: 30px;
	text-align: center;
	text-transform: uppercase;
}



div.entity-quiz-result-answer span.sentence {
	display: block;
	clear: both;
}


div.entity-quiz-result-answer .sentence_inline {
	margin-right: 120px;
	position: relative;
	padding-right: 120px;
}

.entity-quiz-result-answer div.field-name-field-ilearn,
.entity-quiz-result-answer div.field-name-field-entry-id,
.entity-quiz-result-answer div.field-name-field-question-id,
.page-node-take- div.field-name-field-ilearn,
.page-node-take- div.field-name-field-entry-id,
.page-node-take- div.field-name-field-question-id {
	display: none;
}

form div.field-name-field-ilearn,
form div.field-name-field-entry-id,
form div.field-name-field-question-id {
	display: block;
}

div.entity-quiz-result-answer div.quiz-page-image div.row {
	padding-left: 0;
}

div.entity-quiz-result-answer div.quiz-page-image div.row div {
	margin-right: 15px;
}

div.quiz-page-image img.img-responsive {
	width: 100%;
	height: 100%;
}



span.wr span.multiclose {
	font-style: normal;
	background-color: #FFFFA5;
}

.quiz-question-multichoice div.form-item label.control-label {
	display: none;
}

.quiz-question-multichoice  table div.form-item label.control-label 
{
	display: inherit;
}
.quiz-question-multichoice .multichoice-row .control-label {
	display: initial;
}

.quiz-question-multichoice .table-responsive .multichoice-row {
	position: relative;
}

.quiz-question-multichoice .table-responsive tr {
	padding-right: 10px;
}

.quiz-question-multichoice .table-responsive tr.selected {
	/*border: 1px solid green;*/
}

/*
.quiz-question-multichoice .table-responsive .multichoice-row:before {
	content: attr(data-label);
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 2;
	color: #000;
	font-weight: bold;
	line-height: 30px;
	height: 30px;
	border: 1px solid #000;
	background-color: #FFF;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	width: 30px;
	text-align: center;
	text-transform: uppercase;
}
*/
div.quiz-report-score-container {
	margin-top: -20px;
}

div.entity-quiz-result-answer div.table-responsive  {
	clear: both;
	margin-top: 10px;
}

div.entity-quiz-result-answer .table-responsive table {
	/*margin-left: -5px;*/
}

#quiz_score_possible,#quiz_score_percent {
	font-size: 1.3em;
	margin-bottom: 10px;
	margin-left: 10px;
}

#quiz_score_possible .placeholder {
	font-weight: bold
}

body.logged-in .login-promo {
	display: none
}

body.node-type-quiz.admin-menu section.col-sm-9 .tabs--primary,
body.admin-menu .tabs--primary {
	display: block;
}

div.field_example,
div.key,
div.quiz-question-quiz-page .field-name-body {
	font-size: 1.4em;
	margin-bottom: 1.5em;
}

div.field_example {
	font-size: 1.2em;
	margin-bottom: 2em;
}

div.key {
	padding-bottom: 2em;
	border-bottom: 1px solid #f5f5f5;
}

table {
	position: relative;
}

.quiz-question-multichoice {
	margin-top: 10px;
	border-bottom: 1px solid #f5f5f5;
}


tr.multichoice-row:before {
	content: attr(data-label);
	text-transform: uppercase;
	width: 15px;
	font-size: 1.2em;
	font-weight: bold;
	position: absolute;
	line-height: 2em;
}


tr.multichoice-row {
	margin-top: -.5em;
}

tr.multichoice-row td:first-child { padding-left: 25px }

#quiz-progress {
	display: none;
}

.quiz-result-answer-quiz-result-answer .sentence_inline p{
	display: none;
}
.page-node-quiz-results-view fieldset.panel {
	/*display: none;*/
}

#quiz-question-answering-form fieldset#answers ol li div div.help-block {
	display: none;
}


body .radio input[type="radio"],
body .radio-inline input[type="radio"],
body .checkbox input[type="checkbox"],
body.checkbox-inline input[type="checkbox"] {
    position: relative;
    margin-left: 0px;
    margin-right: 10px;
}


tr.multichoice-row td:first-child {
    padding-left: 0px; 
}



body.page-node-865.page-node-quiz-results-view fieldset.form-wrapper {
	display: none;
}



.page-node-8564 #answers {
	display: none;
}


.page-node-8564 form.answering-form h3 {
	display: none
}
