#field-user-name-add-more-wrapper, #field-user-name-add-more-wrapper .panel  {
	border: 0px solid red;
	box-shadow : 0 0 0 0;
}

#field-user-name-add-more-wrapper .field-type-text {
	width: 50%;
	display: inline-block;

}

#field-user-name-add-more-wrapper .panel-heading {
	display: none;
}

#field-user-name-add-more-wrapper .panel-body {
	padding: 0;
}

#field-user-name-add-more-wrapper .field-name-field-first-name {
	padding-right: 15px;
}

#field-user-name-add-more-wrapper .field-name-field-surname {
	padding-left: 15px;
}