@font-face {
  font-family: 'FS Rufus';
  src: url("FSRufusWeb-Regular.eot");
  src: url("FSRufusWeb-Regular.eot?#iefix") format("embedded-opentype"), url("FSRufusWeb-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
