@media (max-width: 1200px) 



	#block-tb-megamenu-main-menu
		float: left
		clear: left
		width: 100%

		.tb-megamenu
			background: transparent

			.nav

				li.dropdown

					.dropdown-toggle

						.caret
							border-top-color: #fff
							border-bottom-color: #fff
	
				.dropdown-toggle

					.caret
						border-top-color: #fff
						border-bottom-color: #fff

		.tb-megamenu-main-menu

			.tb-megamenu-nav
				margin: 0px 0px 15px 0px
			


				li
					display: block
					width: 16.66666666666667%
					text-align: left
					height: 64px
					
					a
						font-size: 15px
						padding: 10px 20px 10px 20px

					
					.dropdown-menu
						border-left: 1px $light-grey solid
						border-right: 1px $light-grey solid
						border-bottom: 4px solid $black
						padding: 10px 25px 10px 10px
			
						li
							width: 100%
			
							a
								padding: 10px 10px 10px 10px
								font-weight: bold
								font-size: 14px
								font-family: 'Helvetica', sans-serif
								text-align: left
								&:hover
					
						.mega-dropdown-inner
							text-align: left
			
							#tb-megamenu-column-1:before
								content: "Learn English as a foreign language"
								margin: 8px 0px 0px 15px
								padding: 0px 0px 8px 0px
								border-bottom: 1px dotted $dark-blue
								color: $dark-blue
								width: 95%
								display: block
								font-size: 13px
								font-weight: bold
								text-align: left
			
							#tb-megamenu-column-2:before
								content: "Languages we teach"
								margin: 8px 0px 0px 15px
								padding: 0px 0px 8px 0px
								border-bottom: 1px dotted $dark-blue
								color: $dark-blue
								width: 95%
								display: block
								font-size: 13px
								font-weight: bold
								text-align: left
				
							#tb-megamenu-column-3:before
								content: "Other information"
								margin: 8px 0px 0px 15px
								padding: 0px 0px 8px 0px
								border-bottom: 1px dotted $dark-blue
								color: $dark-blue
								width: 95%
								display: block
								font-size: 13px
								font-weight: bold
								text-align: left
					
					
							#tb-megamenu-column-4:before
								content: "Learn to teach English"
								margin: 8px 0px 0px 15px
								padding: 0px 0px 8px 0px
								border-bottom: 1px dotted $dark-blue
								color: $dark-blue
								width: 95%
								display: block
								font-size: 13px
								font-weight: bold
								text-align: left
		
							#tb-megamenu-column-5:before
								content: "Why choose IH Bristol?"
								margin: 8px 0px 0px 15px
								padding: 0px 0px 8px 0px
								border-bottom: 1px dotted $dark-blue
								color: $dark-blue
								width: 95%
								display: block
								font-size: 13px
								font-weight: bold
								text-align: left
					
							#tb-megamenu-column-6:before
								content: "."
								margin: 8px 0px 0px 15px
								padding: 0px 0px 8px 0px
								border-bottom: 1px dotted $dark-blue
								color: white
								width: 95%
								display: block
								font-size: 13px
								font-weight: bold
								text-align: left
			
							#tb-megamenu-column-7:before
								content: "Cambridge Exams"
								margin: 8px 0px 0px 15px
								padding: 0px 0px 8px 0px
								border-bottom: 1px dotted $dark-blue
								color: $dark-blue
								width: 95%
								display: block
								font-size: 13px
								font-weight: bold
								text-align: left
				
							#tb-megamenu-column-8:before
								content: "IELTS Exams"
								margin: 8px 0px 0px 15px
								padding: 0px 0px 8px 0px
								border-bottom: 1px dotted $dark-blue
								color: $dark-blue
								width: 95%
								display: block
								font-size: 13px
								font-weight: bold
								text-align: left
					
							#tb-megamenu-column-9:before
								content: "Exam Centre"
								margin: 8px 0px 0px 15px
								padding: 0px 0px 8px 0px
								border-bottom: 1px dotted $dark-blue
								color: $dark-blue
								width: 95%
								display: block
								font-size: 13px
								font-weight: bold
								text-align: left
								
	.page-node

		#block-views-social-events-block

			.view-social-events

				.node-social-event

					img
						margin: auto
								

	.node-type-landing-page

		#block-instagram-block-instagram-block
			border: 1px solid #e3e3e3
			background: -moz-linear-gradient(top,  rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.7) 100%)
			background: -webkit-linear-gradient(top,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.7) 100%)
			background: linear-gradient(to bottom,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.7) 100%)
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ffffff', endColorstr='#b3ffffff',GradientType=0 )
			margin-bottom: 20px

			.group

				img
					width: 100% !important
					height: auto !important
					padding: 10px


			.block-title
				background-color: #fcd71e
				filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#E6F3AF26', endColorstr='#FFFCD71E')
				background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==')
				background-size: 100%
				background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(243, 175, 38, 0.9)), color-stop(90%, #fcd71e))
				background-image: -webkit-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
				background-image: -moz-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
				background-image: -o-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
				background-image: linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
				color: #00377a
				
				font-weight: bold
				padding: 20px 20px 20px 20px
				text-align: left
				margin-top: 0
				margin-bottom: 0
				

				&:before
					display: none


		#block-block-23
			border: 1px solid #e3e3e3
			background: -moz-linear-gradient(top,  rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.7) 100%)
			background: -webkit-linear-gradient(top,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.7) 100%)
			background: linear-gradient(to bottom,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.7) 100%)
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ffffff', endColorstr='#b3ffffff',GradientType=0 )
			margin-bottom: 20px

			.block-title
				background-color: #fcd71e
				filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#E6F3AF26', endColorstr='#FFFCD71E')
				background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==')
				background-size: 100%
				background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(243, 175, 38, 0.9)), color-stop(90%, #fcd71e))
				background-image: -webkit-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
				background-image: -moz-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
				background-image: -o-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
				background-image: linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
				color: #00377a
				
				font-weight: bold
				padding: 20px 20px 20px 20px
				text-align: left
				margin-top: 0
				margin-bottom: 0
				

				&:before
					display: none
		