@media (max-width: 800px)

	body
		div.view-all-courses
			table	

				thead
					display: none	
				tr
					display: block
					border: 1px solid #ccc
					padding: 5px
					margin-bottom: 10px

					td.views-field

						&:first-child
							border-top: 0

						display: block

						&.views-field
							&:before
								content: attr(data-title)
								font-size: .8em
								font-weight: bold
								display: block
								color: #ccc


						&.views-field-field-magento-url
							a
								display: block
								background-color: #fcd71e


						&.views-field-field-magento-url, &.views-field-field-magento-syllabus
							a
								display: block




#daily-english-challenge-wrapper
	display: block
	padding: 10px 0
	text-align: center


	#daily-english-challenge
		border: 1px solid #888
		width: 680px
		background-color: #FFF
		box-shadow: 5px 5px 6px #888888
		text-align: left
		margin: 10px auto
		a:hover span
			text-decoration: underline

