@media (max-width: 680px)
	body
		div#daily-english-challenge-wrapper
			width: 100%
			#daily-english-challenge
				border: 1px solid #888
				width: 100%
				a
					width: 100%
					img
						max-width: 100%
						height: inherit


		section#block-block-24,
		section#block-block-25
			position: relative
			margin: 0 auto
			section#address_block
				display: block
				width: 100%

				div.address_division
					max-width: 100%
					display: block
					text-align: center

			section#copyright
				clear: both
				top: inherit
				left: inherit
				position: relative
				display: block
				padding-top: 10px
				text-align: center


		// landing page
		#block-ihbristol-block-add-to-basket

		&.node-type-landing-page
			#block-system-main
				.col-sm-4
					width: 100%

		// contact page

		&.node-type-contact-page
			.field-name-body
				padding-left: 0
			section
				&#block-block-18,
				&#block-block-19
					padding: 10px
					width: 100%
					float: none
					clear: both
					h2
						margin-top: 0



		// quiz page

		.quiz-question-quiz-page .sentence,
		fieldset#questions,
		#quiz-question-answering-form fieldset#answers
			width: 100%

		#quiz-question-answering-form
			//border: 1px dotted red

			.kt.sentence,
			.quiz-question-gapped-sentence,
			.quiz-question-multichoice,
			.quiz-question-keyword-transformation
				margin-left: 20px



			div.table-responsive
				border: 0
				table
					tr.multichoice-row
						margin-top: 0
						padding-top: 40px
						&:before
							top: 0px
						td
							padding: 0
							text-align: left
							font-size: 12px
							line-height: 20px
							width: auto
							word-break: break-all
							text-align: justify
							white-space: wrap

							&:first-child
								padding-left: 0

		// entity form styling 

		#ui-datepicker-div 
			margin-top: -50px


		form#teacher-training-application-entityform-edit-form.entityform,
		form#english-application-entityform-edit-form.entityform,
		form#agent-application-entityform-edit-form

			//border: 1px solid red

			div.form-item
				width: 100%
				float: none

				input.date-clear
					width: 100%
			
			#edit-field-lead-generation
				width: 100%

			.date-no-float
				width: 100%	

			.field-type-multifield
				.messages.error
					width: 100%
				table	
					width: 100%
			table
				width: 100%
				
				div
					display: block
					padding-left: 0
					padding-right: 0
					margin-left: 0
					clear: both
					.form-control
						display: block
						width: auto

			fieldset 

				#field-date-of-birth-add-more-wrapper 
					.container-inline-date,
					.date-no-float

						margin-top: 0
						margin-left: 0
						width: 100%

						.date-padding
							margin-left: 0
							margin-top: 0

				input.form-control,
				select.form-control,
				textarea.form-control,
				label.control-label
					width: 100%

				.form-type-textarea

					label 
						position: relative
						height: auto

					textarea
						margin-left: 0
	


		// general page styles

		h1.page-header
			font-size: 26px

		h2.block-title	
			font-size: 22px

		.action-button
			font-size: 14px
			margin-bottom: 20px

		.img-responsive
			margin: 0 auto
			padding-left: 10px
			padding-right: 10px

		.main-container
			padding: 50px 10px 95px 10px !important

			aside.left-col
				padding-left: 20px
				padding-bottom: 40px

			section.col-sm-9
				padding-left: 20px

		.region-navigation

			#block-block-1
				margin-top: -120px


		fieldset
			//border: 1px solid red		

			.container-inline-date
				padding: 0

				.date-padding
					margin-top: 0
					margin-left: 0
					width: 100%
					padding: 0

					input
						width: 100%

		footer.footer
			#block-menu-menu-footer-menu
				width: 100%

				ul.menu
					width: 100%
					padding: 0
					margin-top: 10px
					text-align: center
					li
						padding: 0
						a 
							padding: 6px
			
			section#block-block-11.accreditations.col-sm-12
				padding-left: 0
				padding-right: 0
				ul.logos
					padding: 0
					width: 100%
					margin: 0
					text-align: center
					display: inline-block
					li 
						a
							display: block
							margin: 0
							img
								max-width: 100%
								max-height: 50px
								padding: 5px



@media (max-width: 415px)


	// quiz page
	body

		.region-navigation
			#block-block-1 
				display: none

		#quiz-question-answering-form

			div.table-responsive
				table
					tr.multichoice-row
						td
							font-size: 11px	


