@media (max-width: 768px) 

	footer
		border-bottom: 10px solid red


	header#navbar
		height: 165px
		#block-ihbristol-block-jetmenu
			margin-top: 120px

	// quiz page
	div#timer_wrap	
		position: relative
		display: block
		margin: 0 auto
		left: 0

	// general css
	.navbar-toggle
		display: none
		
	.navbar-header	
		float: none
		
		.logo
			border: 1px solid transparent
			z-index: 1001
			position: absolute
			display: block
			left: 0px
		
			img
				max-width: 200px !important
				margin-bottom: 0
				margin-left: 0px
				
	.region-navigation
		margin: -132px 0px 0px 0px
		position: absolute
		width: 100%
		
		#block-block-1
			margin: 9px 0px 0px 0px
			width: 70%
			display: block
			
			.social

				li
					a.agents
						display: none