@media (max-width: 979px) 

	.navbar-header	
		float: none

	#block-tb-megamenu-main-menu

		.tb-megamenu-main-menu

			.tb-megamenu-nav
				margin: 0px 0px 15px 0px
		


				li
					display: block
					width: 100%
					text-align: left
					
	.node-type-landing-page

		#block-system-main
		
			.col-sm-4
				width: 50%
				
				
				
	.page-node

		#block-views-social-events-block

			.view-social-events

				.node-social-event
		
					img
						margin: auto