@media (max-width: 991px) 

	#navbar
	
		.container
			width: 100%
			padding: 0px
			
			.nav-collapse
				text-align: center
				
			#block-tb-megamenu-main-menu 
			
				.tb-megamenu-main-menu 
				
					.tb-megamenu-nav
						margin: 0
						
						li
						
							.tb-megamenu-row,
							.mega-dropdown-inner,
							.dropdown-menu
								background: white
								text-align: center
								
	.navbar
	
		.logo
			padding: 10px 10px 10px 20px
				
				
	.navbar-header	
		float: none				
								
	.main-container
		width: 100%
		padding: 50px 50px 95px 50px !important
		
	.container
	
		.jumbotron
		
			.slick-next,
			.slick-prev
				margin: 0px 0px 0px 0px
				
	.enrol-block
	
		.action-button
			font-size: 15px
		
	.footer

		.accreditations
	
			.logos
				width: 600px

	#block-tb-megamenu-main-menu
		float: left
		clear: left
		width: 100%

		.tb-megamenu
			background: transparent

			.nav

				li.dropdown

					.dropdown-toggle
	
						.caret
							border-top-color: #fff
							border-bottom-color: #fff
		
				.dropdown-toggle

					.caret
						border-top-color: #fff
						border-bottom-color: #fff

		.tb-megamenu-main-menu

			.tb-megamenu-nav
				margin: 0px 0px 15px 0px
				


				li
					display: block
					width: 20%
					text-align: left

						
					.dropdown-menu
						border-left: 1px $light-grey solid
						border-right: 1px $light-grey solid
						border-bottom: 4px solid $black
						padding: 10px 25px 10px 10px
						max-width: 300px
						
				
						li
							width: 100%
				
							a
								padding: 10px 10px 10px 10px
								font-weight: bold
								font-size: 14px
								font-family: 'Helvetica', sans-serif
								text-align: left
								&:hover
						
						.mega-dropdown-inner
							text-align: left
				
							#tb-megamenu-column-1:before
								content: "Learn English as a foreign language"
								margin: 8px 0px 0px 15px
								padding: 0px 0px 8px 0px
								border-bottom: 1px dotted $dark-blue
								color: $dark-blue
								width: 95%
								display: block
								font-size: 13px
								font-weight: bold
								text-align: left
				
							#tb-megamenu-column-2:before
								content: "Languages we teach"
								margin: 8px 0px 0px 15px
								padding: 0px 0px 8px 0px
								border-bottom: 1px dotted $dark-blue
								color: $dark-blue
								width: 95%
								display: block
								font-size: 13px
								font-weight: bold
								text-align: left
					
							#tb-megamenu-column-3:before
								content: "Other information"
								margin: 8px 0px 0px 15px
								padding: 0px 0px 8px 0px
								border-bottom: 1px dotted $dark-blue
								color: $dark-blue
								width: 95%
								display: block
								font-size: 13px
								font-weight: bold
								text-align: left
						
						
							#tb-megamenu-column-4:before
								content: "Learn to teach English"
								margin: 8px 0px 0px 15px
								padding: 0px 0px 8px 0px
								border-bottom: 1px dotted $dark-blue
								color: $dark-blue
								width: 95%
								display: block
								font-size: 13px
								font-weight: bold
								text-align: left
			
							#tb-megamenu-column-5:before
								content: "Why choose IH Bristol?"
								margin: 8px 0px 0px 15px
								padding: 0px 0px 8px 0px
								border-bottom: 1px dotted $dark-blue
								color: $dark-blue
								width: 95%
								display: block
								font-size: 13px
								font-weight: bold
								text-align: left
						
							#tb-megamenu-column-6:before
								content: "."
								margin: 8px 0px 0px 15px
								padding: 0px 0px 8px 0px
								border-bottom: 1px dotted $dark-blue
								color: white
								width: 95%
								display: block
								font-size: 13px
								font-weight: bold
								text-align: left
				
							#tb-megamenu-column-7:before
								content: "Cambridge Exams"
								margin: 8px 0px 0px 15px
								padding: 0px 0px 8px 0px
								border-bottom: 1px dotted $dark-blue
								color: $dark-blue
								width: 95%
								display: block
								font-size: 13px
								font-weight: bold
								text-align: left
					
							#tb-megamenu-column-8:before
								content: "IELTS Exams"
								margin: 8px 0px 0px 15px
								padding: 0px 0px 8px 0px
								border-bottom: 1px dotted $dark-blue
								color: $dark-blue
								width: 95%
								display: block
								font-size: 13px
								font-weight: bold
								text-align: left
						
							#tb-megamenu-column-9:before
								content: "Exam Centre"
								margin: 8px 0px 0px 15px
								padding: 0px 0px 8px 0px
								border-bottom: 1px dotted $dark-blue
								color: $dark-blue
								width: 95%
								display: block
								font-size: 13px
								font-weight: bold
								text-align: left
								
	#block-block-1
		padding: 10px 20px 10px 10px
		
								
								
	#block-views-other-languages-block
	
		.view-other-languages
		
			.view-header
			
				img
					max-width: 100%
					height: auto
		
		
		
	.node-social-event.node-teaser
	
		.field-name-field-image
		
			img
				margin: auto
				
	.front
	
		.field-name-phrase-of-the-day
		
			.field-name-title 
			
				h2
					font-size: 32px
					
	.region-navigation

		#block-ihbristol-block-add-to-basket
			position: absolute 
			top: 27px
			right: 25px
					
					
					
		
