.node-type-agents-resource-downloads

	.field-name-body
		margin: 0px 0px 20px 0px

	.field-name-field-dl-images
		
		.field-items
		
			.field-item
				display: inline-block
				margin: 0px 10px 10px 0px
				
#block-block-10
	border: 1px solid #e3e3e3
	background: -moz-linear-gradient(top,  rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.7) 100%)
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.7) 100%)
	background: linear-gradient(to bottom,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.7) 100%)
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ffffff', endColorstr='#b3ffffff',GradientType=0 )
	margin-bottom: 20px
	padding: 20px 20px 20px 20px
	
#block-user-login

	form
		padding: 20px
		
		ul
			padding: 0px 0px 0px 15px
			
			li
			
				a
					font-size: 13px