#block-views-exp-blog-page
	border: 1px solid #fcd71e
	background: white
	margin-bottom: 20px
	
	#views-exposed-form-blog-page
		padding: 20px 20px 20px 20px
	
	.block-title
		background-color: #fcd71e
		filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#E6F3AF26', endColorstr='#FFFCD71E')
		background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==')
		background-size: 100%
		background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(243, 175, 38, 0.9)), color-stop(90%, #fcd71e))
		background-image: -webkit-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
		background-image: -moz-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
		background-image: -o-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
		background-image: linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
		color: #00377a
		font-size: 18px
		font-weight: bold
		padding: 20px 20px 20px 23px
		margin-top: 0
		margin-bottom: 0
	
	// form submit	
	.views-exposed-form
		.views-exposed-widget
			&.views-submit-button
				clear: left

	#edit-field-section-tid-wrapper
		height: 170px
		margin: 0
		padding: 0
		
		.help-block
			display: none
		
		.form-control
			border: 0
			box-shadow: none
			-webkit-box-shadow: none
			line-height: 1.4em

			&.bef-select-as-checkboxes
				padding-left: 0
				padding-right: 0
		
		input[type='checkbox'].form-control
			margin: 0
			width: auto
		
		.bef-checkboxes
			
			.form-item
			
				input
					
					
				label
					display: block
					margin: -26px 0px 0px 30px

.page-blog

	.view-blog
	
		.view-header
			margin: 0px 0px 25px 0px
			
			p
				font-family: "FS Rufus",serif
				font-size: 18px
				color: #2c3f8c
			
			a
				font-weight: bold
				color: $dark-blue
				
		.node-article.view-mode-teaser
			border: 1px solid #e3e3e3
			background: -moz-linear-gradient(top,  rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.7) 100%)
			background: -webkit-linear-gradient(top,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.7) 100%)
			background: linear-gradient(to bottom,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.7) 100%)
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ffffff', endColorstr='#b3ffffff',GradientType=0 )
			margin-bottom: 10px
			

			.field-name-title
			
				h2
					padding: 20px 0px 8px 0px
					margin: 0px 0px 0px 0px
					font-size: 24px
					
			.field-name-post-date
				color: $dark-blue
				font-family: 'FS Rufus', serif
				font-size: 18px
				margin: 0px 0px 10px 0px
				
			.field-name-body
				margin: 0px 0px 10px 0px
				padding: 0px 30px 0px 0px
				
			.field-name-node-link
				margin-top: -4px
				margin-bottom: 15px
			
				a
					font-size: 12px

					
					
.node-type-article

	.page-header
		margin-bottom: 10px

	.node-article.view-mode-full
	
		.field-name-post-date
			color: $dark-blue
			font-family: 'FS Rufus', serif
			font-size: 24px
			margin: 0px 0px 0px 0px
			
		.field-name-field-image
			margin: 0px 0px 20px 0px
			
		.field-name-field-section
			margin: 0px 0px 10px 0px
		
			.field-label
				font-weight: normal
			
			.field-item
				font-weight: bold
			
.front

	.field-name-latest-blogs
		text-align: center
		vertical-align: center
	
		.block-title
			margin: 0px 0px 15px 0px
			text-align: left
	
		.field-name-title
			min-height: 90px
			padding: 0px 0px 0px 0px
			margin: -15px 0px 0px 0px
		
			h2
				a
					font-size: 18px
					color: $black
					display: block
				
		.field-name-post-date
			color: $dark-blue
			font-family: 'FS Rufus', serif
			font-size: 21px
			margin: 0px 0px 0px 0px
			
		.action-button
			margin-top: 0px
			
			
	.view-homepage-carousel
	
		.node-article.view-mode-homepage_slider
			position: relative
			
			.field-name-title
				position: absolute
				left: 15px
				bottom: 49px
				max-width: 60%
				
				h2
					font-size: 16px
					background-color: #000000
					color: #ffffff
					padding: 4px 10px 4px 10px
					opacity: .8
					font-family: 'FS Rufus', serif
					margin: 4px 0px 0px 0px
				
				&:before
					content: 'Blog'
					color: white
					background: $dark-green
					padding: 6px 12px 6px 12px
					font-family: 'FS Rufus', serif
					font-size: 18px
					margin: 0px 0px 0px 0px
				
			.field-name-node-link
				position: absolute
				left: 15px
				bottom: 20px
				
				p,
				a
					background-color: #ffffff
					color: #00377a
					padding: 4px 10px 4px 10px
					font-size: 15px
					opacity: .8
				
			