.node-type-contact-page

	.field-name-contact-us-form
		
		input
			width: 70%
			
		#edit-submit
			background: rgb(44,63,140)
			background: -moz-linear-gradient(top,  rgba(44,63,140,1) 0%, rgba(18,18,45,1) 100%)
			background: -webkit-linear-gradient(top,  rgba(44,63,140,1) 0%,rgba(18,18,45,1) 100%)
			background: linear-gradient(to bottom,  rgba(44,63,140,1) 0%,rgba(18,18,45,1) 100%)
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c3f8c', endColorstr='#12122d',GradientType=0 )
			-webkit-border-radius: 22px 22px 22px 22px
			border-radius: 22px 22px 22px 22px
			border: 1px solid #0E0E2B
			color: #fff
			font-size: 18px
			font-weight: bold
			padding: 10px 20px 10px 23px
			display: block
			margin-top: 30px 
			margin-bottom: 50px
			text-shadow: 1px 1px #12122D
			text-align: center
			width: 40%
			
	.field-name-body
		font-family: 'FS Rufus', serif
		font-size: 18px
		color: $dark-blue
		padding-left: 40px
		
		p
			margin: 20px 0px 20px 0px
		
	.field-name-queens-ave-info,
	.field-name-oakfield-road-info,
	.field-name-how-to-find-us
		border: 1px solid #e3e3e3
		background: -moz-linear-gradient(top,  rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.7) 100%)
		background: -webkit-linear-gradient(top,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.7) 100%)
		background: linear-gradient(to bottom,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.7) 100%)
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ffffff', endColorstr='#b3ffffff',GradientType=0 )		
		margin-bottom: 20px
		padding: 20px 20px 20px 20px
		
		address
			font-weight: bold
			font-size: 20px
			font-family: 'FS Rufus', serif
			
		ul
			margin: 0px 0px 0px 15px
			padding: 0
		
			li
				line-height: 27px
				
				span
					font-weight: bold
					
	#block-block-18,
	#block-block-19
		border: 1px solid #e3e3e3
		background: -moz-linear-gradient(top,  rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.7) 100%)
		background: -webkit-linear-gradient(top,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.7) 100%)
		background: linear-gradient(to bottom,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.7) 100%)
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ffffff', endColorstr='#b3ffffff',GradientType=0 )		
		margin-bottom: 20px
		padding: 20px 20px 20px 20px
		width: 50%
		float: left
	
		.contacts-block
			