
// override admin-menu css as this breaks the position for the date-picker
html body.admin-menu
	margin-top: 0 !important
	padding-top: 29px


form#english-application-entityform-edit-form,
form#learn-english-application-form-entityform-edit-form,
form#teacher-training-application-entityform-edit-form,
form#agent-application-entityform-edit-form,
form#register-for-free-exercises-entityform-edit-form
	&.entityform
		border: 0px solid #FFF
		label.control-label, input.form-control, .form-textarea-wrapper
			display: inline-block

		label
			font-weight: normal

		div.form-item-field-dietary-requirements-und,
		div.form-item-field-smoking-options-und,
		div#field-label-pets-add-more-wrapper
			> label.control-label 
				font-weight: bold

		div.field-name-field-label-pets.form-group
			margin-bottom: 0
			div#field-label-pets-add-more-wrapper
				label
					font-weight: bold

		div#field-dietary-other-add-more-wrapper,
		div.form-item-field-dogs-und,
		div.form-item-field-cats-und,
			position: relative 
			label
				display: inline-block
				width: 220px
				font-weight: normal
				position: absolute

			select, textarea
				margin-left: 225px
				width: 400px




		fieldset
			border: 0px solid #FFF
			&.panel
				border: 0
				box-shadow: 0 0 0 0
				-webkit-box-shadow: 0 0 0 0
				background: none



			legend.panel-heading
				background: none
				margin-left: -15px
				margin-right: -15px
				border: 0
				padding-bottom: 0

				span.panel-title
					font-size: 14px
					line-height: 1.42857143
					font-weight: bold

			.panel-body, .date-padding
				padding-left: 0
				padding-right: 0
				padding-bottom: 0

			.form-type-textarea
				position: relative

				label
					height: 60px
					display: inline-block
					position: absolute
					width: 220px
					font-weight: normal

				textarea
					margin-left: 215px
					width: 400px

			.field-type-multifield
				table
					width: 660px

					thead
						display: none

				.messages.error
					margin-left: 0px
					width: 660px





			div
				&.form-type-radios label.control-label, &.field-type-list-boolean label.control-label, &.form-type-checkbox label.control-label
					width: 100%

			label.control-label
				width: 215px

			select.form-control, textarea.form-control, input.form-control
				width: 400px
				display: inline-block

			div.form-type-select
				display: inline-block
				margin-right: 10px

			.container-inline-date div.form-type-select
				width: 120px

			.date-no-float label.control-label
				width: 100%

			.date-no-float
				float: none
				clear: none

				label.control-label
					float: none
					clear: none

			.street-block
				margin-bottom: 15px

			.messages.error
				margin-left: 200px
				padding: 4px

			#edit-field-agent-booking .form-radios .form-item, #edit-field-embassy-sponsor .form-radios .form-item, #edit-field-sex .form-radios .form-item
				display: inline-block
				margin-right: 15px


			#edit-field-date-of-birth label.control-label
				display: inline

			.field-name-field-tt-course-date
				margin-left: 15px


/* used in TT form */

/* label hack for start dates*/

.form-item-field-course-dates-und-0-value.form-type-date-popup:before
	content: 'Start date (Monday)'
	position: absolute
	top: 0
	left: 0

.form-item-field-accommodation-dates-und-0-value.form-type-date-popup:before
	content: 'Arrival Date *'
	position: absolute
	top: 0
	left: 0

.form-type-date-popup
	label
		position: absolute
		top: 0
		left: 0


/* collapse nested fieldsets */

.panel-default > legend.panel-heading
	background: none
	font-weight: bold
	border-top: 0
	border-left: 0
	border-right: 0

	&.date-combo .container-inline-date .date-padding
		padding-left: 0
		padding-right: 0
		padding-bottom: 0

.date-padding
	/*margin-top: -2.75em*/
	margin-left: 220px
	padding-top: 0

.date-no-float
	padding-top: 0
	.date-padding
		margin-top: 0
		padding-top: 0


#field-date-of-birth-add-more-wrapper .container-inline-date
	padding-top: 0
	margin-left: 220px
	/*margin-top: -2.75em*/
	width: 500px

	.date-padding
		margin-left: 0
		margin-top: 0em
		padding-top: 0

.grippie
	display: none

#edit-field-lead-generation
	width: 600px


#edit-field-full-time-ielts-exam-cours,
#edit-field-cambridge-exam-course-type,
#edit-field-cambridge-exam-summer-cour
	padding-left: 30px
	div.form-item 
		label.control-label 
			display: none 
		div
			label.control-label 
				display: block 


.container-inline-date
	position: relative

body
	form#learn-english-application-form-entityform-edit-form,
	form#english-application-entityform-edit-form
		&.entityform

			input[type="radio"]
				margin-right: 10px

			div.panel-body
				padding-top: 0
				div.help-block

			fieldset
				

			fieldset.group-your-details

			fieldset

				#field-date-of-birth-add-more-wrapper 
					.container-inline-date
						padding-top: 0
						margin-top: -2em
						width: auto

					legend.panel-heading
						span.panel-title 
							font-weight: normal

			#edit-field-payment-methods-und,
			#edit-field-lead-generation-und
				margin-left: 220px
				width: auto

			div.field-name-field-lead-generation,
			div.field-name-field-payment-methods,
			div.form-item-field-process-und,
			div.form-item-field-sex-und,
			div.form-item-field-embassy-sponsor-und,
			div.form-item-field-agent-booking-und,
			div.form-item-field-accommodation-type-und,
			div.form-item-field-learn-english-course-type-und
				position: relative
				label.control-label
					width: 220px
					white-space: wrap
					display: block
					position: absolute
					top: 0


				#edit-field-payment-methods-und,	
				#edit-field-process-und,
				#edit-field-sex-und,
				#edit-field-embassy-sponsor-und,
				#edit-field-agent-booking-und,
				#edit-field-accommodation-type-und,
				#edit-field-learn-english-course-type-und,
					label.control-label
						width: auto
						position: relative

			#edit-field-process-und,
			#edit-field-sex-und,
			#edit-field-embassy-sponsor-und,
			#edit-field-agent-booking-und,
			#edit-field-accommodation-type-und,
			#edit-field-learn-english-course-type-und
				padding-left: 220px				

			div#field-dietary-other-add-more-wrapper,
			div.form-item-field-dogs-und,
			div.form-item-field-cats-und,
				position: relative 
				label
					display: block
					width: 100%
					font-weight: normal
					position: relative

				select, textarea
					margin-left: 0px

				textarea
					width: 100%


fieldset.date-combo .container-inline-date .date-padding
	padding: 0


form#register-for-online-tests-entityform-edit-form
	div.col-sm-6, div.col-sm-12
		padding-bottom: 10px




@media (max-width: 600px)
	body

		form#english-application-entityform-edit-form,
		form#teacher-training-application-entityform-edit-form,
		form#agent-application-entityform-edit-form,
		form#register-for-free-exercises-entityform-edit-form

			&.entityform
				
				div 
					
				div.form-item-field-process-und
					label.control-label
						display: block
						width: 100%
						clear: both
						position: relative			

				div.ds-form

					label.control-label, label
						display: block
						width: 100%
						clear: both
						position: relative

					select
						clear: both
						width: 100%

				.field-name-field-lead-generation
					position: relative
					label
						display: block
						clear: both	
						position: relative	
						width: 100%
					select#edit-field-lead-generation-und
						clear: both

				.radio 
					label
						padding-left: 0		

				#edit-field-process-und,
				#edit-field-sex-und,
				#edit-field-embassy-sponsor-und,
				#edit-field-agent-booking-und,
				#edit-field-accommodation-type-und,
				#edit-field-learn-english-course-type-und,
				#edit-field-payment-methods-und,
				#edit-field-lead-generation-und,
				#edit-field-process-und
					padding-left: 0px	
					clear: both
					padding-top: 10px	
					margin-left: 0	
					display: block
					width: 100%


				.form-item-field-course-dates-und-0-value.form-type-date-popup:before,
				.form-item-field-accommodation-dates-und-0-value.form-type-date-popup:before
					position: relative
					padding-bottom: 4px
					display: block

