.page-exam

	.view-all-courses
	
		.view-header
			margin: 0px 0px 30px 0px
	
		.col-lg-6
		
			.row
				padding: 20px
		
			.col-sm-12
				border: 1px solid #e3e3e3
				background: -moz-linear-gradient(top,  rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.7) 100%)
				background: -webkit-linear-gradient(top,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.7) 100%)
				background: linear-gradient(to bottom,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.7) 100%)
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ffffff', endColorstr='#b3ffffff',GradientType=0 )
				margin-bottom: 20px
				padding: 0px 20px 20px 20px
			
				.field-name-title
				
					h2
						color: $dark-blue
						font-size: 24px
						padding: 0px 0px 15px 0px
						margin-bottom: 25px
						border-bottom: 1px dashed $dark-blue
						
				.field-name-field-magento-url
				
					.btn
						background: rgb(44,63,140)
						background: -moz-linear-gradient(top,  rgba(44,63,140,1) 0%, rgba(18,18,45,1) 100%)
						background: -webkit-linear-gradient(top,  rgba(44,63,140,1) 0%,rgba(18,18,45,1) 100%)
						background: linear-gradient(to bottom,  rgba(44,63,140,1) 0%,rgba(18,18,45,1) 100%)
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c3f8c', endColorstr='#12122d',GradientType=0 )
						-webkit-border-radius: 22px 22px 22px 22px
						border-radius: 22px 22px 22px 22px
						border: 1px solid #0E0E2B
						color: #fff
						font-family: 'FS Rufus', serif
						font-size: 18px
						font-weight: bold
						padding: 10px 20px 10px 23px
						display: block
						margin-top: 30px 
						margin-left: auto
						margin-right: auto
						text-shadow: 1px 1px #12122D
						text-align: center
						width: 80%