footer.footer
	width: 100%
	position: relative
	background-color: #fcd71e
	filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#E6F3AF26', endColorstr='#FFFCD71E')
	background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==')
	background-size: 100%
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(243, 175, 38, 0.9)), color-stop(90%, #fcd71e))
	background-image: -webkit-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
	background-image: -moz-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
	background-image: -o-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
	background-image: linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)

footer.footer:before
	background: transparent url('../img/bg_footer_rainbow.png') repeat-x
	height: 60px
	width: 100%
	content: ""
	display: block
	position: absolute
	top: -25px
	left: 0
	
.footer
	width: 100%
	margin-top: 0px
	padding-bottom: 55px

	.region-footer
		max-width: 1100px
		margin: 0 auto


	.accreditations
		width: 100%
		padding-left: 0
		padding-right: 0
		
		ul.logos
			list-style-type: none
			width: 100%
			margin-left: auto
			margin-right: auto
			margin-top: 20px
			margin-bottom: 10px
			padding-left: 0


			li
				display: table-cell
				margin: 0px
				padding: 0px
				width: 15%

			
				a
					padding: 10px
					display: block
					text-align: center
					img
						max-width: 100%
						max-height: 80px
			
	#block-menu-menu-footer-menu
		list-style-type: none
		width: 640px
		margin-left: auto
		margin-right: auto
		margin-top: 0px
		margin-bottom: 10px
		
		li
			display: inline-block
			margin: 0px 0px 0px 0px
			padding: 20px
			
	.translations
	
		.flags
			list-style-type: none
			margin-left: auto
			margin-right: auto
			margin-top: 20px
			width: 100%
			padding: 0
		
			li
				display: inline-block
		
				a
					display: inline-block
					height: 19px
					width: 25px	
					
					&:hover
						opacity: .5

.view
	footer
		background-color: transparent
		
	footer:before



section#block-block-24,
section#block-block-25
	position: relative
	margin: 0 auto
	section#address_block
		display: block

		div.address_division
			max-width: 300px
			padding-right: 30px
			display: inline-block
			vertical-align: top


	section#copyright
		position: absolute
		top: 0
		right: 0
		text-align: right


