#block-entityform-block-study-abroad,
#block-entityform-block-in-company-courses,
#block-entityform-block-contact-other-languages
	background: -moz-linear-gradient(top,  rgba(216,216,216,0.22) 0%, rgba(255,255,255,0) 100%)
	background: -webkit-linear-gradient(top,  rgba(216,216,216,0.22) 0%,rgba(255,255,255,0) 100%)
	background: linear-gradient(to bottom,  rgba(216,216,216,0.22) 0%,rgba(255,255,255,0) 100%)
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1fd8d8d8', endColorstr='#00ffffff',GradientType=0 )
	box-shadow: inset 0px 0px 8px #e1e1e1
	margin-bottom: 20px
	margin-top: 30px
	padding: 20px
	
	
	.block-title
		margin: 0px 0px 20px 0px
		padding: 0