#block-block-1
	width: 60%
	float: right
	height: 60px
	margin-top: -94px

	.social
		margin: 0px 0px 0px 0px
		padding: 0px 0px 0px 0px
		list-style-type: none
		
		li
			float: right
			margin: 35px 3px 0px 0px
			
			a
				display: block
				width: 32px
				height: 32px
				float: right
				text-indent: -9999px
				background-size: contain
				
				&:hover
					margin-top: 5px
				
				&.facebook
					background: transparent url('../img/icon-facebook_32.png') no-repeat
					
				&.twitter
					background: transparent url('../img/icon-twitter_32.png') no-repeat
					
				&.youtube
					background: transparent url('../img/icon-youtube_32.png') no-repeat
					
				&.flickr
					background: transparent url('../img/icon-flickr_32.png') no-repeat
					
				&.instagram
					background: transparent url('../img/icon-instagram_32.png') no-repeat
					
				&.pinterest
					background: transparent url('../img/icon-pinterest_32.png') no-repeat
				
			.agents
				text-indent: 0
				display: inline-block
				width: 137px
				background: #fdad00
				padding: 10px 10px 10px 43px
				color: white
				margin-left: 30px
				
				&:hover
					margin-top: 0
					color: $black
				
				
.region-navigation
	
	#block-ihbristol-block-add-to-basket
		margin: -127px 3px 0px 0px
		float: right
		
		a
			color: #2c3f8c
			
	#block-menu-menu-header-small
		margin: -127px 3px 0px 0px
	
		ul
			float: right
	
			li
				display: inline-block
				
				a
					color: #865e00
				
					&:hover
						background: transparent
						
				.dropdown-menu
				
					li
						display: block
				
						a
							color: black
				
							&:hover
								background: $light-grey
								
					.active > a,
					.active > a:focus,
					.active > a:hover
						color: black
								
			.open
			
				a
					background: transparent
					
					
					
					
			