.container	
	
	.jumbotron
		padding: 5px
		background: #f1faff
		box-shadow: inset 0px 0px 8px #e1e1e1

		
		.slick-slider
			margin-bottom: 0
			
		.slick-next
			margin: 0px -60px 0px 40px
			
		.slick-prev
			margin: 0px 0px 0px -76px
			
		.slick-arrow::before
			color: #d3d3d3
			font-size: 6rem
			
			
		.slick__slide
			padding: 8px
			border: 2px solid #fff
			
			img
				max-width: 100%
				height: auto
				

.node-homepage-promo-slider
	position: relative
	
	.field-name-field-headline
		position: absolute
		left: 15px
		bottom: 49px
		background-color: #000000
		color: #ffffff
		padding: 4px 10px 4px 10px
		font-size: 16px
		opacity: .8
		font-family: 'FS Rufus', serif
		max-width: 60%
		
	
	.field-name-field-caption
		position: absolute
		left: 15px
		bottom: 20px
	
		p,
		a
			background-color: #ffffff
			color: #00377a
			padding: 4px 10px 4px 10px
			font-size: 15px
			opacity: .8
			
	.field-name-field-link
		position: absolute
		left: 15px
		bottom: 29px
		background-color: #000000
		color: #ffffff
		padding: 4px 10px 4px 10px
		font-size: 16px
		opacity: .8
		font-family: 'FS Rufus', serif
		max-width: 60%
		
		a
			color: white

	