.front

  .page-header
    color: $dark-blue
    font-weight: bold
    border-bottom: 1px dashed $dark-blue
    padding: 0px 0px 25px 0px
    margin: 10px 0px 30px 0px

  .field-name-body
    font-family: 'FS Rufus', serif
    font-size: 18px
    color: $dark-blue

    p
      margin: 0px 0px 40px 0px

    .embed-container
      margin-top: 22px
      width: 100%

  .field-name-latest-blogs,
  .field-name-social-programme,
  .field-name-online-learning
    border: 1px solid #e3e3e3
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.7) 100%)
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.7) 100%)
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.7) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6ffffff', endColorstr='#b3ffffff', GradientType=0)
    margin-bottom: 20px
    padding: 20px 20px 20px 20px

    .block-title
      color: $dark-blue
      font-size: 30px
      padding: 0 0 15px 0
      margin-bottom: 25px
      border-bottom: 1px dashed $dark-blue

  .view-id-blog

    .field-name-title

      h2
        font-size: 18px

  .view-social-events

    .field-name-title

      h2
        font-size: 18px

    .view-header

      .views-bootstrap-grid-plugin-style
        padding: 15px
        border: 1px solid #e3e3e3
        background: #fff
        box-shadow: inset 0 0 8px #e1e1e1

      p
        margin: 15px 0px 10px 0px

  .field-name-free-exercises

    .field-items
      border: 1px solid #e3e3e3
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.7) 100%)
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.7) 100%)
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.7) 100%)
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6ffffff', endColorstr='#b3ffffff', GradientType=0)
      margin-bottom: 20px

      .block-title
        background-color: #fcd71e
        filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#E6F3AF26', endColorstr='#FFFCD71E')
        background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==')
        background-size: 100%
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(243, 175, 38, 0.9)), color-stop(90%, #fcd71e))
        background-image: -webkit-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
        background-image: -moz-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
        background-image: -o-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
        background-image: linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
        color: #00377a
        font-size: 24px
        font-weight: bold
        padding: 20px 20px 20px 23px
        text-align: center

      p
        padding: 5px 20px 20px 20px

      .action-button
        font-size: 16px
        padding: 10px

  .field-name-useful-expressions

    .field-items
      border: 1px solid #e3e3e3
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.7) 100%)
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.7) 100%)
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.7) 100%)
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6ffffff', endColorstr='#b3ffffff', GradientType=0)
      margin-bottom: 20px

      .block-title
        background-color: #fcd71e
        filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#E6F3AF26', endColorstr='#FFFCD71E')
        background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==')
        background-size: 100%
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(243, 175, 38, 0.9)), color-stop(90%, #fcd71e))
        background-image: -webkit-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
        background-image: -moz-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
        background-image: -o-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
        background-image: linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
        color: #00377a
        font-size: 24px
        font-weight: bold
        padding: 20px 20px 20px 23px
        text-align: center

      p
        padding: 5px 20px 20px 20px

      .action-button
        font-size: 16px
        padding: 10px

  .field-name-test-your-level

    .field-items
      border: 1px solid #e3e3e3
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.7) 100%)
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.7) 100%)
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.7) 100%)
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6ffffff', endColorstr='#b3ffffff', GradientType=0)
      margin-bottom: 20px

      .block-title
        background-color: #fcd71e
        filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#E6F3AF26', endColorstr='#FFFCD71E')
        background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==')
        background-size: 100%
        background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(243, 175, 38, 0.9)), color-stop(90%, #fcd71e))
        background-image: -webkit-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
        background-image: -moz-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
        background-image: -o-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
        background-image: linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
        color: #00377a
        font-size: 24px
        font-weight: bold
        padding: 20px 20px 20px 23px
        text-align: center

      p
        padding: 5px 20px 20px 20px

      .action-button
        font-size: 16px
        padding: 10px