/* jet menu overrides */
#block-ihbristol-block-jetmenu
	
	.tab-piece
		display: block
		width: 16.6666667%
		float: left
		text-align: center
		
	
		a
			color: #fff
			font-weight: 400
			padding: 0.5em
			&:hover, &:focus
				color: rgba(0, 0, 0, 0.5)
				text-decoration: none
		&.tab--lef
			background: $dark-green
		&.tab--other-languages
			background: $light-green
		&.tab--teach
			background: $orange
		&.tab--why
			background: $purple
		&.tab--exam
			background: $red      
		&.tab--contact
			background: $dark-blue
		&.tab--agents
			background: $red
			
		.apply

			li:nth-child(1)
				margin-top: 10px
				background: $dark-blue
				border-radius: 5px
				-webkit-border-radius: 5px
	
				&:hover
					background: $ochre !important
	
				a
					color: white !important
					font-size: 16px !important
					text-shadow: 1px 1px 2px $black
		
					&:hover
						background: $ochre !important
						color: white !important



#block-ihbristol-block-jetmenu

	.t-d
		display: inline-block
		height: 10px
		width: 10px
		border-top: 6px solid #fff
		border-right: 5px solid transparent
		border-left: 5px solid transparent
		margin-bottom: -2px
		margin-right: 10px
		margin-top: 10px
		margin-left: 4px
		
		&:hover, &:focus
			border-top: 6px solid rgba(0, 0, 0, 0.5)

	.nav--inner li
		margin-bottom: 0
		
		&.highlight a
			background: #99bb0c
			padding: 0.5em 0.5em
			border-bottom: 2px solid #007956
			border-radius: 3px
			color: #fff
			margin-bottom: 1em
			
			&:hover, &:focus
				background: #007956
				color: #fff
				
		&.highlight--apply a
			background: rgba(153, 187, 12, 0.6)
			border-radius: 0
			border-bottom: none
			color: rgba(0, 0, 0, 0.5) !important
			
			&:hover, &:focus
				background: #99bb0c !important
				
		&.highlight--brochure a
			background: rgba(239, 137, 0, 0.6)
			border-radius: 0
			border-bottom: none
			color: rgba(0, 0, 0, 0.7) !important
			
			&:hover, &:focus
				background: #ef8900 !important
		&.highlight--exercise a
			background: rgba(44, 63, 140, 0.6)
			border-radius: 0
			border-bottom: none
			color: rgba(255, 255, 255, 0.7) !important
			
			&:hover, &:focus
				background: #2c3f8c !important

	.tab-piece .one-col
		margin-bottom: 0

	.nav--lef
	
		.heading, .blockquote__info
			color: #007956

	.nav--exam
	
		.heading, .blockquote__info
			color: #99bb0c

	.close_dd
	
		position: absolute
		top: 0.5em
		right: 0.5em
		display: inline-block
		padding: 0.5em


#block-ihbristol-block-jetmenu

	.jetmenu
		background: $ochre
		
		> li
			> .megamenu
			
				&.quarter-width
					width: 25%
					
				&.third-width
					width: 33.333%
					
				&.two-third-width
					width: 66.666%     
					
				top: 40px
				background-color: white
			> a
				color: $white
				padding: 17px 24px 15px 24px
				font-size: 15px
				font-weight: normal
				border: 0
				font-family: 'FS Rufus', serif
				display: block
				
				.t-d
					margin-right: 8px 
					margin-top: 8px
					
			&:hover > a, &.active > a
				background-color: transparent  
				color: $light-grey
				font-weight: normal
				
		.tab--contact
			padding-right: 5px
				
		.megamenu
			border-left: 1px $light-grey solid
			border-right: 1px $light-grey solid
			border-bottom: 4px solid $black
			border-top: 0
			padding: 10px 10px 10px 10px
			-moz-box-shadow: 0px 2px 25px 1px rgba(1, 1, 1, 0.55)
			box-shadow: 0px 2px 25px 1px rgba(1, 1, 1, 0.55)
			margin-top: 13px
			
			.row
				padding: 0px 25px 0px 10px
				
				p.heading
					margin: 8px 0px 0px 15px
					padding: 0px 0px 8px 0px
					border-bottom: 1px dotted $dark-blue
					color: $dark-blue
					width: 95%
					font-family: 'Helvetica', sans-serif
					display: block
					font-size: 13px
					font-weight: bold
					text-align: left
					
				li
					text-align: left
					
					a
						padding: 8px 10px 8px 15px
						font-weight: bold
						font-size: 14px
						font-family: 'Helvetica', sans-serif
						color: $black


@media screen and (min-width: 480px) and (max-width: 599px)
	#block-ihbristol-block-jetmenu
		.tab-piece
			width: 50%

@media screen and (min-width: 600px) and (max-width: 959px)
	#block-ihbristol-block-jetmenu
		.tab-piece
			width: 33.333%



@media screen and (min-width: 767px)
	#block-ihbristol-block-jetmenu
		.tab-piece
			
			&.tab--agents,
			&.tab--agents > a
				display: none !important




@media (min-width: 769px) and (max-width: 1200px)
	#block-ihbristol-block-jetmenu
	
		
		.jetmenu > li > a 
			padding: 17px 20px 15px 20px
			margin-right: 0px
			font-size: 13px
			span.t-d
				font-size: 13px
				margin-right: 0px
				margin-left: 0
				margin-top: 7px
				
		.jetmenu > .tab--contact
				padding-right: 2px
		.jetmenu .indicator
			left: -10px
			
@media screen and (min-width: 784px) and (max-width: 959px)
	#block-ihbristol-block-jetmenu
		.jetmenu > li > a 
			font-size: 15px

@media (max-width: 768px)
	#block-ihbristol-block-jetmenu
	
		.tab-piece
			width: 100%
			
			&.tab--agents,
			&.tab--agents > a
				display: block
				
		.jetmenu
			li
				&.showhide
					background: $ochre
					color: white
				a
					background: transparent
				> .megamenu
					ul
						float: none
						a 
							background-color: white
							&:hover
								color: #bbbbbb
								background-color: white
								
