#block-views-other-languages-block

	.view-other-languages

		.view-header
			background: -moz-linear-gradient(top,  rgba(216,216,216,0.22) 0%, rgba(255,255,255,0) 100%)
			background: -webkit-linear-gradient(top,  rgba(216,216,216,0.22) 0%,rgba(255,255,255,0) 100%)
			background: linear-gradient(to bottom,  rgba(216,216,216,0.22) 0%,rgba(255,255,255,0) 100%)
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1fd8d8d8', endColorstr='#00ffffff',GradientType=0 )
			box-shadow: inset 0px 0px 8px #e1e1e1
			margin-bottom: 20px
			padding: 20px
			
			em 
				margin: 15px 0px 15px 0px
				display: block
		


	.panel-group
	
		.panel-heading
			color: white
			padding: 15px 10px 15px 10px
			
			h4
				font-size: 21px
				font-weight: normal
				
	
					
				.accordion-toggle
					display: inline-block
					vertical-align: middle
					-webkit-transform: translateZ(0)
					transform: translateZ(0)
					box-shadow: 0 0 1px rgba(0, 0, 0, 0)
					-webkit-backface-visibility: hidden
					backface-visibility: hidden
					-moz-osx-font-smoothing: grayscale
					position: relative
					padding-right: 2.2em
					-webkit-transition-duration: 0.6s
					transition-duration: 0.6s
					text-decoration: none
					
				
				.accordion-toggle:before
					content: "\f01a"
					position: absolute
					right: 1em
					padding: 0 1px
					font-family: FontAwesome
					-webkit-transform: translateZ(0)
					transform: translateZ(0)
					-webkit-transition-duration: 0.6s
					transition-duration: 0.6s
					-webkit-transition-property: transform
					transition-property: transform
					-webkit-transition-timing-function: ease-out
					transition-timing-function: ease-out
					opacity: .6
				
				.accordion-toggle:hover:before, .accordion-toggle:focus:before, .accordion-toggle:active:before
					text-decoration: none
					opacity: 1

		.views-field-field-magento-url
		
			.btn-enrol
				background: $ochre
				color: black
				font-weight: 900
					


					
	
		.panel:nth-child(1)
		
			.panel-heading
				background: $dark-blue
				
		.panel:nth-child(2)

			.panel-heading
				background: $red
				
		.panel:nth-child(3)

			.panel-heading
				background: $orange
				
		.panel:nth-child(4)

			.panel-heading
				background: $dark-green
				
		.panel:nth-child(5)

			.panel-heading
				background: $light-green
				
		.panel:nth-child(6)

			.panel-heading
				background: $ochre
				
		.panel:nth-child(7)

			.panel-heading
				background: $purple
				
				
#block-views-testimonials-testimonials-block
	border: 1px solid #fcd71e
	background: white
	margin-bottom: 20px

	
	.block-title
		background-color: #fcd71e
		filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#E6F3AF26', endColorstr='#FFFCD71E')
		background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==')
		background-size: 100%
		background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(243, 175, 38, 0.9)), color-stop(90%, #fcd71e))
		background-image: -webkit-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
		background-image: -moz-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
		background-image: -o-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
		background-image: linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
		color: #00377a
		font-size: 18px
		font-weight: bold
		padding: 20px 20px 20px 23px
		margin-top: 0
		display: block !important
		
	.view-testimonials
		padding: 15px
			
				
				
#block-views-staff-node-staff-block
	border: 1px solid #fcd71e
	background: white
	margin-bottom: 20px
	
	.view-staff-node
		padding: 20px
		
		.field-name-field-name-staff
			display: inline-block
			margin: 8px 0px 0px 0px
			font-weight: bold
			font-size: 16px
			
		.field-name-field-job-title
			margin: 0px 0px 8px 0px
			font-size: 14px
			
		.views-row
			background: -moz-linear-gradient(top,  rgba(216,216,216,0.22) 0%, rgba(255,255,255,0) 100%)
			background: -webkit-linear-gradient(top,  rgba(216,216,216,0.22) 0%,rgba(255,255,255,0) 100%)
			background: linear-gradient(to bottom,  rgba(216,216,216,0.22) 0%,rgba(255,255,255,0) 100%)
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1fd8d8d8', endColorstr='#00ffffff',GradientType=0 )
			box-shadow: inset 0px 0px 8px #e1e1e1
			margin-bottom: 20px
			padding: 5px
			text-align: center
			width: 32%
			display: inline-block

	.block-title
		background-color: #fcd71e
		filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#E6F3AF26', endColorstr='#FFFCD71E')
		background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==')
		background-size: 100%
		background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(243, 175, 38, 0.9)), color-stop(90%, #fcd71e))
		background-image: -webkit-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
		background-image: -moz-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
		background-image: -o-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
		background-image: linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
		color: #00377a
		font-size: 18px
		font-weight: bold
		padding: 20px 20px 20px 23px
		margin-top: 0
		display: block !important
				
				
#block-views-staff-node-block-2
	padding: 0

	.view-staff-node

		.node-staff-member
			width: 30%
			float: left
			border: 1px solid #e3e3e3
			background: -moz-linear-gradient(top,  rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.7) 100%)
			background: -webkit-linear-gradient(top,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.7) 100%)
			background: linear-gradient(to bottom,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.7) 100%)
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ffffff', endColorstr='#b3ffffff',GradientType=0 )
			padding: 10px 20px 10px 20px
			margin: 10px 15px 10px 0px
			text-align: center

			.col-sm-12


				.field-name-field-name-staff
					font-family: 'FSRufus', serif
					color: $dark-blue
					font-size: 16px
					font-weight: bold
	
				.field-name-field-job-title
					margin: 0px 0px 7px 0px
	
				.field-name-field-image
	
					img
						margin: 8px auto
		
.section_headings
	clear: both
	display: block
	margin-top: 30px
	margin-bottom: 30px
	border: 1px solid #CCC
	padding: 10px
	
	section
		padding: 0 10px

	table
		border: 1px solid #CCC
		width: 100%

		tr:nth-child(2n).highlight
			background-color: darken(#fcce85,10)
			
			td
				background-color: darken(#fcce85,10)

		tr.highlight
			background-color: #fcce85
			
			td
				background-color: #fcce85


		a.enrol
			background-color: #99bb0c
			padding: 0px 9px
			font-size: 14px
			color: #FFF
			border-bottom: 2px solid #007956
			
			&:hover
				background-color: #7E9B09
				color: #FFF
				text-decoration: none

	h3 
		color: #2c3f8c
		
	nav
		margin-bottom: 40px
		
		ul
			margin: 0
			padding: 0
			border: 0
			list-style-type: none
			
			li
				position: relative
				padding: 20px
				font-family: 'FS Rufus', serif
				color: white
				font-size: 18px

				&:nth-child(1n),&:nth-child(6n)
					background-color: #ef8900
					
					&.clicked
						background-color: darken(#ef8900, 10%)
						
					&:hover
						background-color: darken( #ef8900, 10%)
						
				&:nth-child(2n),&:nth-child(7n)
					background-color: #faba01
					
					&.clicked
						background-color: darken( #faba01, 10%)
						
					&:hover
						background-color: darken( #faba01, 10%)   
						 
				&:nth-child(3n),&:nth-child(8n)
					background-color: #99BB0C
					
					&.clicked
						background-color: darken( #99BB0C, 10%)
						
					&:hover
						background-color: darken( #99BB0C, 10%)  
						
				&:nth-child(4n),&:nth-child(9n)
					background-color: #007956
					
					&.clicked
						background-color: darken( #007956, 10%)
						
					&:hover
						background-color: darken( #007956, 10%)  
						
				&:nth-child(5n),&:nth-child(10n)
					background-color: #b92770
					
					&.clicked
						background-color: darken( #b92770, 10%)
						
					&:hover
						background-color: darken( #b92770, 10%) 
						
				&.clicked
				
					span
						color: #FFF
						
						&:after
							content: ''
							margin-bottom: 6px
							
				span
					&:after
						content: 'Read more'
						display: block
						position: absolute
						right: 20px
						top: 14px
						font-size: 16px
						padding: 9px 18px
						display: block
						font-style: bold
						cursor: pointer
						font-size: 1.4rem
						//background-color: #eeeeee
						color: #FFF

					&:hover
						color: #FFF			
				
				