#block-tb-megamenu-main-menu
	float: left
	clear: left
	width: 100%

	.tb-megamenu
		background: transparent
		
		.nav
		
			li.dropdown
			
				.dropdown-toggle
				
					.caret
						border-top-color: #fff
						border-bottom-color: #fff
					
			.dropdown-toggle
			
				.caret
					border-top-color: #fff
					border-bottom-color: #fff

	.tb-megamenu-main-menu
	
		.tb-megamenu-nav
			margin: 0px 0px 15px 0px
			
		
			li
			
				a
					color: $white
					padding: 15px 31px 15px 31px
					font-size: 16px
					font-weight: normal
					border: 0
					font-family: 'FS Rufus', serif
					
					&:hover

				
				.dropdown-menu
					border-left: 1px $light-grey solid
					border-right: 1px $light-grey solid
					border-bottom: 4px solid $black
					padding: 10px 25px 10px 10px
					
					li
					
						a
							padding: 10px 10px 10px 10px
							font-weight: bold
							font-size: 14px
							font-family: 'Helvetica', sans-serif
							
							&:hover
							
					.mega-dropdown-inner
					
						#tb-megamenu-column-1:before
							content: "Learn English as a foreign language"
							margin: 8px 0px 0px 15px
							padding: 0px 0px 8px 0px
							border-bottom: 1px dotted $dark-blue
							color: $dark-blue
							width: 95%
							display: block
							font-size: 13px
							font-weight: bold
					
						#tb-megamenu-column-2:before
							content: "Languages we teach"
							margin: 8px 0px 0px 15px
							padding: 0px 0px 8px 0px
							border-bottom: 1px dotted $dark-blue
							color: $dark-blue
							width: 95%
							display: block
							font-size: 13px
							font-weight: bold
						
						#tb-megamenu-column-3:before
							content: "Other information"
							margin: 8px 0px 0px 15px
							padding: 0px 0px 8px 0px
							border-bottom: 1px dotted $dark-blue
							color: $dark-blue
							width: 95%
							display: block
							font-size: 13px
							font-weight: bold
							
							
						#tb-megamenu-column-4:before
							content: "Learn to teach English"
							margin: 8px 0px 0px 15px
							padding: 0px 0px 8px 0px
							border-bottom: 1px dotted $dark-blue
							color: $dark-blue
							width: 95%
							display: block
							font-size: 13px
							font-weight: bold
				
						#tb-megamenu-column-5:before
							content: "Why choose IH Bristol?"
							margin: 8px 0px 0px 15px
							padding: 0px 0px 8px 0px
							border-bottom: 1px dotted $dark-blue
							color: $dark-blue
							width: 95%
							display: block
							font-size: 13px
							font-weight: bold
							
						#tb-megamenu-column-6:before
							content: "."
							margin: 8px 0px 0px 15px
							padding: 0px 0px 8px 0px
							border-bottom: 1px dotted $dark-blue
							color: white
							width: 95%
							display: block
							font-size: 13px
							font-weight: bold
					
						#tb-megamenu-column-7:before
							content: "Cambridge Exams"
							margin: 8px 0px 0px 15px
							padding: 0px 0px 8px 0px
							border-bottom: 1px dotted $dark-blue
							color: $dark-blue
							width: 95%
							display: block
							font-size: 13px
							font-weight: bold
						
						#tb-megamenu-column-8:before
							content: "IELTS Exams"
							margin: 8px 0px 0px 15px
							padding: 0px 0px 8px 0px
							border-bottom: 1px dotted $dark-blue
							color: $dark-blue
							width: 95%
							display: block
							font-size: 13px
							font-weight: bold
							
						#tb-megamenu-column-9:before
							content: "Exam Centre"
							margin: 8px 0px 0px 15px
							padding: 0px 0px 8px 0px
							border-bottom: 1px dotted $dark-blue
							color: $dark-blue
							width: 95%
							display: block
							font-size: 13px
							font-weight: bold
		

					
			.dark-green
				background: $dark-green
				
				.tb-megamenu-subnav
				
					.level-2
						
						a
							background: $white
							color: $black
							
							&:hover
								background: $light-grey
				
				a:hover
					background: $dark-green
				
			.dark-green.active-trail,
			.dark-green.open,
			.dark-green:focus,
			.dark-green:hover
				background: $dark-green
				
				a
					background: $dark-green
					
					
				
			.light-green
				background: $light-green
				
				.tb-megamenu-subnav

					.level-2

						a
							background: $white
							color: $black

							&:hover
								background: $light-grey

			.light-green.active-trail,
			.light-green.open,
			.light-green:focus,
			.light-green:hover
				background: $light-green

				a
					background: $light-green
				
			.orange
				background: $orange
				
				.tb-megamenu-subnav

					.level-2

						a
							background: $white
							color: $black

							&:hover
								background: $light-grey

			.orange.active-trail,
			.orange.open,
			.orange:focus,
			.orange:hover
				background: $orange

				a
					background: $orange
				
			.dark-blue
				background: $dark-blue
				
				.tb-megamenu-subnav

					.level-2

						a
							background: $white
							color: $black

							&:hover
								background: $light-grey

			.dark-blue.active-trail,
			.dark-blue.open,
			.dark-blue:focus,
			.dark-blue:hover
				background: $dark-blue

				a
					background: $dark-blue
				
			.purple
				background: $purple
				
				.tb-megamenu-subnav

					.level-2

						a
							background: $white
							color: $black

							&:hover
								background: $light-grey

			.purple.active-trail,
			.purple.open,
			.purple:focus,
			.purple:hover
				background: $purple

				a
					background: $purple
				
			.ochre
				background: $ochre
				
				.tb-megamenu-subnav

					.level-2

						a
							background: $white
							color: $black

							&:hover
								background: $light-grey

			.ochre.active-trail,
			.ochre.open,
			.ochre:focus,
			.ochre:hover
				background: $ochre

				a
					background: $ochre
					
			.tb-megamenu-column-inner
				padding: 8px 5px 10px 5px

				.level-3
					padding: 0px 0px 0px 0px
					
					
			.mega-group
				margin: 0px 0px 0px 0px
				padding: 0px 0px 0px 0px

				.mega-group-title
					font-size: 13px
					font-weight: normal
					margin: 0px 0px 0px 0px
					padding: 0px 0px 0px 15px
					background: white
					color: $dark-blue !important

					&:hover
						background: white !important
						cursor: default !important
