.left-col
	margin: 0px 0px 0px 0px
	padding: 0px 20px 0px 0px
	

.block-menu-block,
#block-menu-menu-why-bristol-
	border: 1px solid #fcd71e
	background: white
	margin-bottom: 20px

	h2.block-title
		display: block !important
		background-color: #fcd71e
		filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#E6F3AF26', endColorstr='#FFFCD71E')
		background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==')
		background-size: 100%
		background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(243, 175, 38, 0.9)), color-stop(90%, #fcd71e))
		background-image: -webkit-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
		background-image: -moz-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
		background-image: -o-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
		background-image: linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
		color: #00377a
		font-size: 18px
		font-weight: bold
		padding: 20px 20px 20px 23px
		
	h2.block-title
		margin-top: 0
		
	ul
		padding: 0
		
		li.active-trail
			background: #eeeeee
	
		li
		
			.dropdown-menu
			
				li
					margin: 8px 0px 8px 0px
				
					a
						border: 0
						color: $black
						font-size: 14px
						font-weight: bold
			
						&:hover
							border: 0
				
					
					
					.active
						background: #eeeeee
						color: $black
		

		
			
			a
				border: 0
				color: $black
				font-size: 14px
				font-weight: bold
			
				&:hover
					border: 0
	
	.nav

		.open

			a
				border: 0

				&:hover
					border: 0

#block-menu-menu-learning,
#block-menu-menu-exercises
	border: 1px solid #fcd71e
	background: white
	margin-bottom: 20px


	.block-title
		display: block !important
		background-color: #fcd71e
		filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#E6F3AF26', endColorstr='#FFFCD71E')
		background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==')
		background-size: 100%
		background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(243, 175, 38, 0.9)), color-stop(90%, #fcd71e))
		background-image: -webkit-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
		background-image: -moz-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
		background-image: -o-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
		background-image: linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
		color: #00377a
		font-size: 18px
		font-weight: bold
		padding: 20px 20px 20px 23px
		margin: 0

	ul
		padding: 10px 0px 10px 0px
	
		li
	
		
			a
				border: 0
				color: $black
				font-size: 14px
				font-weight: bold
		
				&:hover
					border: 0

#block-views-useful-phrases-nav-block
	border: 1px solid #fcd71e
	background: white
	margin-bottom: 20px


	.block-title
		display: block !important
		background-color: #fcd71e
		filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#E6F3AF26', endColorstr='#FFFCD71E')
		background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==')
		background-size: 100%
		background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(243, 175, 38, 0.9)), color-stop(90%, #fcd71e))
		background-image: -webkit-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
		background-image: -moz-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
		background-image: -o-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
		background-image: linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
		color: #00377a
		font-size: 18px
		font-weight: bold
		padding: 20px 20px 20px 23px
		margin: 0

	h3


		a
			border: 0
			color: $black
			font-size: 14px
			font-weight: bold
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
			padding: 10px 15px 10px 15px

			&:hover
				border: 0

#block-views-free-exercises-block-1,
#block-views-free-exercises-block-2,
#block-views-free-exercises-block-3,
#block-views-free-exercises-block-4,
#block-views-free-exercises-block-5,
#block-views-free-exercises-block-6
	border: 1px solid #fcd71e
	background: white
	margin-bottom: 20px


	.block-title
		display: block !important
		background-color: #fcd71e
		filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#E6F3AF26', endColorstr='#FFFCD71E')
		background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==')
		background-size: 100%
		background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(243, 175, 38, 0.9)), color-stop(90%, #fcd71e))
		background-image: -webkit-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
		background-image: -moz-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
		background-image: -o-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
		background-image: linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
		color: #00377a
		font-size: 18px
		font-weight: bold
		padding: 20px 20px 20px 23px
		margin: 0

	.block-title:before
		content: "More "
		
	.block-title:after
		content: " quiz questions"
		
	.view-free-exercises
	
		table
			margin-bottom: 0px
	
			caption
				color: $black
				font-size: 14px
				font-weight: bold
				font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
				padding: 10px 15px 10px 15px
				
			td
				padding: 10px 15px 10px 15px
		
		
.enrol-block

	.action-button
		-webkit-border-radius: 0
		border-radius: 0
		border: 1px solid $dark-blue
		color: #fff
		font-family: "FS Rufus",serif
		font-size: 24px
		line-height: 30px
		font-weight: normal
		padding: 20px 20px 25px 20px
		display: block
		margin-top: 0px
		margin-bottom: 15px
		width: 100%
		background: #2c539e
		background: -moz-linear-gradient(-45deg, #2c539e 0%, #2c539e 100%)
		background: -webkit-linear-gradient(-45deg, #2c539e 0%,#2c539e 100%)
		background: linear-gradient(135deg, #2c539e 0%,#2c539e 100%)
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c539e', endColorstr='#2c539e',GradientType=1 )


	.action-button
		position: relative
		color: white

		transition: all 0.3s

		span
			transition: all 0.3s
			tranform: scale(1, 1)


		&::before,
		&::after
			content: ''
			position: absolute
			transition: all 0.3s
			bottom: 0
			left: 0
			width: 100%
			height: 100%
			z-index: 1

		&:hover
			text-decoration: none
			box-shadow: none
			-webkit-box-shadow: none


	.action-button::before
		left: 0px
		z-index: 1
		opacity: 0
		background: rgba(255, 255, 255, 0.1)
		transform: scale(0.1, 1)

	.action-button:hover::before
		opacity: 1
		transform: scale(1, 1)


	.action-button::after
		transition: all 0.3s
		border: 1px solid rgba(255, 255, 255, 0.5)


	.action-button:hover::after
		transform: scale(1, .1)
		opacity: 0

// mobile responsive menu

body.mobile
	section
		&.block-menu,
		&.block-menu-block,
		&.block-views

			&.active
				h2.block-title
					position: relative
					margin-bottom: 0
					&:after
						text-align: center
						font-weight: 900
						font-size: 25px
						line-height: 25px
						content: "\f0fe"
						font-family: FontAwesome
						display: inline-block
						width: 25px
						height: 25px
						position: absolute
						right: 20px
						top: 20px

					&.open
						&:after
							content: "\f146"

				div.content-hide
					display: none
					-moz-transition: opacity 1s ease-in-out
					-o-transition: opacity 1s ease-in-out
					-webkit-transition: opacity 1s ease-in-out
					transition: opacity 1s ease-in-out

				div.content-show
					display: block
					-moz-transition: opacity 1s ease-in-out
					-o-transition: opacity 1s ease-in-out
					-webkit-transition: opacity 1s ease-in-out
					transition: opacity 1s ease-in-out


//#block-menu-menu-learn-english
	border: 1px solid $dark-green

	.block-title
		background: $dark-green
					
//#block-menu-menu-why-bristol-
	border: 1px solid $dark-blue

	.block-title
		background: $dark-blue
		
//#block-menu-menu-teacher-training
	border: 1px solid $orange

	.block-title
		background: $orange
		
//#block-menu-menu-why-ih-bristol-
	border: 1px solid $dark-blue

	.block-title
		background: $dark-blue	
		

