#block-ihbristol-block-online-learning-login
  margin-top: 30px
  max-width: 320px
  border: 1px solid #e3e3e3
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.7) 100%)
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.7) 100%)
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.7) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6ffffff', endColorstr='#b3ffffff', GradientType=0)
  margin-bottom: 20px
  padding: 20px 20px 20px 20px

  .block-title
    color: $dark-blue
    font-size: 30px
    padding: 0 0 15px 0
    margin-bottom: 25px
    border-bottom: 1px dashed $dark-blue