.node-type-page

	.field-name-field-banner
		margin-bottom: 25px

	.field-name-body

		.anchor-links
			list-style-type: none
			margin: 25px 0px 25px 0px
			padding: 0

			li
				background: transparent url('../img/icon-anchor-links.png') no-repeat 0px 6px
				padding: 0px 0px 0px 20px
	
				a
					color: $dark-blue
					font-family: 'FS Rufus', serif
					display: inline-block
					padding: 4px 10px 4px 0px
					margin: 0px 0px 2px 0px
					-webkit-transition: all 180ms ease-in-out
					-moz-transition: all 180ms ease-in-out
					-ms-transition: all 180ms ease-in-out
					-o-transition: all 180ms ease-in-out
					transition: all 180ms ease-in-out
		
				a:hover
					color: $dark-blue
					font-family: 'FS Rufus', serif
					display: inline-block
					padding: 4px 10px 4px 0px
					margin: 0px 0px 2px 0px
					-webkit-transition: all 180ms ease-in-out
					-moz-transition: all 180ms ease-in-out
					-ms-transition: all 180ms ease-in-out
					-o-transition: all 180ms ease-in-out
					transition: all 180ms ease-in-out

		h2 a,
		h3 a
			color: $dark-blue

			&:hover
				color: $dark-blue
				text-decoration: none
				cursor: default
	
		.top
			background: rgb(44,63,140)
			background: -moz-linear-gradient(top,  rgba(44,63,140,1) 0%, rgba(18,18,45,1) 100%)
			background: -webkit-linear-gradient(top,  rgba(44,63,140,1) 0%,rgba(18,18,45,1) 100%)
			background: linear-gradient(to bottom,  rgba(44,63,140,1) 0%,rgba(18,18,45,1) 100%)
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c3f8c', endColorstr='#12122d',GradientType=0 )
			-webkit-border-radius: 22px 22px 22px 22px
			border-radius: 22px 22px 22px 22px
			border: 1px solid #0E0E2B
			color: #fff
			font-family: 'FS Rufus', serif
			font-size: 11px
			font-weight: bold
			padding: 10px 20px 10px 23px
			display: inline-block
			text-shadow: 1px 1px #12122D
			text-align: center
			margin-bottom: 35px

		table
			margin: 20px 0px 20px 0px
			border: 1px solid #c1c1c1
			
			tbody
			border: 1px solid #c1c1c1

			thead
				border: 1px solid #c1c1c1

			tr
				border: 1px solid #c1c1c1

			th
				padding: 15px
				font-family: 'FS Rufus', serif
				vertical-align: top
				color: $dark-blue
				border: 1px solid #c1c1c1
	

			td
				padding: 15px
				border: 1px solid #c1c1c1
				
		h3,
		h4,
		h5
			margin: 30px 0px 10px 0px
			color: $dark-blue
			
		img
			padding: 0px 20px 10px 0px
			
.locations
	margin: 10px 0px 40px 0px
	padding: 0

	li
	
		a
			color: $dark-blue
			
			&:hover
				text-decoration: none
				opacity: .8