.node-phrase-of-the-week.view-mode-landing_page_slider
	position: relative

	.field-name-field-phrase
		position: absolute
		top: 50px
		left: 50px
		font-size: 62px
		color: white
		font-family: 'FS Rufus', serif
		text-shadow: 2px 2px 6px #4b4b4b
		
		.field-item:before,
		.field-item:after
			content: '"'
		
	.field-name-field-translation
		position: absolute
		bottom: 60px
		right: 55px
		color: black
		background-color: #fcd71e
		filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#E6F3AF26', endColorstr='#FFFCD71E')
		background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==')
		background-size: 100%
		background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(243, 175, 38, 0.9)), color-stop(90%, #fcd71e))
		background-image: -webkit-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
		background-image: -moz-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
		background-image: -o-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
		background-image: linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
		font-size: 18px
		padding: 10px 20px 10px 20px
		font-family: 'FS Rufus', serif
		
		.field-item:before,
		.field-item:after
			content: '"'

#block-views-phrase-of-the-week-block
	padding: 0
			
	.node-phrase-of-the-week.view-mode-full
		position: relative
		
		.field-name-field-phrase
			position: absolute
			top: 125px
			left: 50px
			font-size: 42px
			color: white
			font-family: 'FS Rufus', serif
			text-shadow: 2px 2px 6px #4b4b4b

			.field-item:before,
			.field-item:after
				content: '"'

		.field-name-field-translation
			position: absolute
			bottom: 60px
			right: 15px
			color: black
			background-color: #fcd71e
			filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#E6F3AF26', endColorstr='#FFFCD71E')
			background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==')
			background-size: 100%
			background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(243, 175, 38, 0.9)), color-stop(90%, #fcd71e))
			background-image: -webkit-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
			background-image: -moz-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
			background-image: -o-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
			background-image: linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
			font-size: 15px
			padding: 10px 20px 10px 20px
			font-family: 'FS Rufus', serif

			.field-item:before,
			.field-item:after
				content: '"'
			
		.field-name-field-phrase-language
			font-size: 34px
			margin-top: 30px
			color: $dark-blue
			font-weight: bold
			padding: 10px 20px 10px 0px
			font-family: 'FS Rufus', serif