.page-english-phrases

	.view-phrase-of-the-day
	
		.view-content
		
			.node-phrase-of-the-day
				background: transparent url('../img/bg_speech_sm.png') no-repeat right 115px
		
		.field-name-formatted-date
			margin: 30px 0px 0px 0px
			font-size: 30px
			font-family: 'FS Rufus', serif
			font-weight: bold
			color: $dark-blue
			background-color: #fcd71e
			filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#E6F3AF26', endColorstr='#FFFCD71E')
			background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==')
			background-size: 100%
			background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(243, 175, 38, 0.9)), color-stop(90%, #fcd71e))
			background-image: -webkit-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
			background-image: -moz-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
			background-image: -o-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
			background-image: linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
			padding: 20px 20px 20px 23px
			
		.field-name-title
			background: -moz-linear-gradient(top,  rgba(216,216,216,0.22) 0%, rgba(255,255,255,0) 100%)
			background: -webkit-linear-gradient(top,  rgba(216,216,216,0.22) 0%,rgba(255,255,255,0) 100%)
			background: linear-gradient(to bottom,  rgba(216,216,216,0.22) 0%,rgba(255,255,255,0) 100%)
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1fd8d8d8', endColorstr='#00ffffff',GradientType=0 )
			padding: 40px 20px 40px 30px
			box-shadow: inset 0px 0px 8px #e1e1e1
			
		
			h2
				font-size: 72px
				font-family: 'FS Rufus', serif
				font-weight: bold
				color: $purple
				
				
			h2:before,
			h2:after
				content: '"'
				
		.field-name-field-phrase-explanation
			margin: 25px 0px 20px 0px
			text-align: center
			font-size: 21px
			color: $purple
			border: 1px dotted $purple
			padding: 25px
			
		#bootstrap-panel
			background: $purple
			color: white
			
			.panel-heading
				display: none
				
			.field
				display: inline-block
				width: 25%
				font-size: 20px
	
		#bootstrap-panel--2,
		#bootstrap-panel--3
			margin: 20px 0px 0px 0px
			background: -moz-linear-gradient(top,  rgba(216,216,216,0.22) 0%, rgba(255,255,255,0) 100%)
			background: -webkit-linear-gradient(top,  rgba(216,216,216,0.22) 0%,rgba(255,255,255,0) 100%)
			background: linear-gradient(to bottom,  rgba(216,216,216,0.22) 0%,rgba(255,255,255,0) 100%)
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1fd8d8d8', endColorstr='#00ffffff',GradientType=0 )
			box-shadow: inset 0px 0px 8px #e1e1e1
			
			
			.panel-heading
				margin: 0px 0px 0px 0px
				background-color: #fcd71e
				filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#E6F3AF26', endColorstr='#FFFCD71E')
				background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==')
				background-size: 100%
				background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(243, 175, 38, 0.9)), color-stop(90%, #fcd71e))
				background-image: -webkit-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
				background-image: -moz-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
				background-image: -o-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
				background-image: linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
				padding: 20px 20px 20px 23px
				
				.panel-title
					font-size: 21px
					font-family: 'FS Rufus', serif
					font-weight: bold
					color: $dark-blue
			
			.panel-collapse
			
				.panel-body
				
					.field-item
						font-family: 'FS Rufus', serif
						font-size: 18px
						display: block
						
						
					.field-item:before,
					.field-item:after
						content: '"'
			
					.field-name-field-line-ex1-1,
					.field-name-field-line-ex2-1
						margin: 0px 0px 20px 0px
						
	#block-ihbristol-block-potd-search
	
		.block-title
			display: block !important
			background-color: #fcd71e
			filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#E6F3AF26', endColorstr='#FFFCD71E')
			background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==')
			background-size: 100%
			background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(243, 175, 38, 0.9)), color-stop(90%, #fcd71e))
			background-image: -webkit-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
			background-image: -moz-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
			background-image: -o-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
			background-image: linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
			color: #00377a
			font-size: 18px
			font-weight: bold
			padding: 20px 20px 20px 23px
			margin: 30px 0px 20px 0px
			
		.phrase_date
			position: relative
			float: right
			margin: -155px 0px 0px 0px
			background: transparent url('../img/calendar.png') no-repeat 0px 0px
			width: 154px
			height: 160px
		
		.month
			position: absolute
			top: 88px
			left: 57px
			font-size: 24px
			font-weight: bold
			color: $dark-blue
			
		.year
			display: none
		
		strong
			position: absolute
			top: 63px
			left: 61px
			font-size: 24px
			font-weight: bold
			color: $dark-blue
			
		#potd_search
			margin: 15px 0px 0px 0px
			
			.ui-datepicker-trigger
				margin: 0px 8px 0px 8px
			
			
.node-type-phrase-of-the-day		

	.field-name-field-date
		margin: 30px 0px 0px 0px
		font-size: 30px
		font-family: 'FS Rufus', serif
		font-weight: bold
		color: $dark-blue
		background-color: #fcd71e
		filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#E6F3AF26', endColorstr='#FFFCD71E')
		background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==')
		background-size: 100%
		background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(243, 175, 38, 0.9)), color-stop(90%, #fcd71e))
		background-image: -webkit-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
		background-image: -moz-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
		background-image: -o-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
		background-image: linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
		padding: 20px 20px 20px 23px
		
	.field-name-title
		background: -moz-linear-gradient(top,  rgba(216,216,216,0.22) 0%, rgba(255,255,255,0) 100%)
		background: -webkit-linear-gradient(top,  rgba(216,216,216,0.22) 0%,rgba(255,255,255,0) 100%)
		background: linear-gradient(to bottom,  rgba(216,216,216,0.22) 0%,rgba(255,255,255,0) 100%)
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1fd8d8d8', endColorstr='#00ffffff',GradientType=0 )
		padding: 40px 20px 40px 30px
		box-shadow: inset 0px 0px 8px #e1e1e1
		
	
		h2
			font-size: 72px
			font-family: 'FS Rufus', serif
			font-weight: bold
			color: $purple
			
			
		h2:before,
		h2:after
			content: '"'
			
	.field-name-field-phrase-explanation
		margin: 25px 0px 20px 0px
		text-align: center
		font-size: 21px
		color: $purple
		border: 1px dotted $purple
		padding: 25px
		
	#bootstrap-panel
		background: $purple
		color: white
		
		.panel-heading
			display: none
			
		.field
			display: inline-block
			width: 25%
			font-size: 20px

	#bootstrap-panel--2,
	#bootstrap-panel--3
		margin: 20px 0px 0px 0px
		background: -moz-linear-gradient(top,  rgba(216,216,216,0.22) 0%, rgba(255,255,255,0) 100%)
		background: -webkit-linear-gradient(top,  rgba(216,216,216,0.22) 0%,rgba(255,255,255,0) 100%)
		background: linear-gradient(to bottom,  rgba(216,216,216,0.22) 0%,rgba(255,255,255,0) 100%)
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1fd8d8d8', endColorstr='#00ffffff',GradientType=0 )
		box-shadow: inset 0px 0px 8px #e1e1e1
		
		
		.panel-heading
			margin: 0px 0px 0px 0px
			background-color: #fcd71e
			filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#E6F3AF26', endColorstr='#FFFCD71E')
			background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==')
			background-size: 100%
			background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(243, 175, 38, 0.9)), color-stop(90%, #fcd71e))
			background-image: -webkit-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
			background-image: -moz-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
			background-image: -o-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
			background-image: linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
			padding: 20px 20px 20px 23px
			
			.panel-title
				font-size: 21px
				font-family: 'FS Rufus', serif
				font-weight: bold
				color: $dark-blue
		
		.panel-collapse
		
			.panel-body
			
				.field-item
					font-family: 'FS Rufus', serif
					font-size: 18px
					display: block
					
					
				.field-item:before,
				.field-item:after
					content: '"'
		
				.field-name-field-line-ex1-1,
				.field-name-field-line-ex2-1
					margin: 0px 0px 20px 0px
			
			
.front

	.field-name-phrase-of-the-day
		border: 1px solid #e3e3e3
		background: -moz-linear-gradient(top,  rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.7) 100%)
		background: -webkit-linear-gradient(top,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.7) 100%)
		background: linear-gradient(to bottom,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.7) 100%)
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ffffff', endColorstr='#b3ffffff',GradientType=0 )		
		margin-bottom: 20px
		padding: 20px 20px 20px 20px
		
		.block-title
			color: $dark-blue
			font-size: 30px
			padding: 0px 0px 15px 0px
			margin-bottom: 25px
			border-bottom: 1px dashed $dark-blue
			
		.field-name-formatted-date
			margin: 0px 0px 0px 0px
			font-size: 18px
			font-family: 'FS Rufus', serif
			font-weight: bold
			color: $dark-blue
			background-color: #fcd71e
			filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#E6F3AF26', endColorstr='#FFFCD71E')
			background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==')
			background-size: 100%
			background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(243, 175, 38, 0.9)), color-stop(90%, #fcd71e))
			background-image: -webkit-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
			background-image: -moz-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
			background-image: -o-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
			background-image: linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
			padding: 20px 20px 20px 23px

		.field-name-title
			background: #fff
			padding: 5px 15px 15px 15px
			box-shadow: inset 0px 0px 8px #e1e1e1
			text-align: center


			h2
				font-size: 42px
				font-family: 'FS Rufus', serif
				font-weight: bold
				color: $purple


			h2:before,
			h2:after
				content: '"'

		.field-name-field-phrase-explanation
			margin: 12px 0px 20px 0px
			text-align: center
			font-size: 15px
			color: $purple
			background: #fff
			border: 1px dotted $purple
			padding: 15px	
			font-family: 'FS Rufus', serif
			
		.field-name-node-link
		
			a
				background: rgb(44,63,140)
				background: -moz-linear-gradient(top,  rgba(44,63,140,1) 0%, rgba(18,18,45,1) 100%)
				background: -webkit-linear-gradient(top,  rgba(44,63,140,1) 0%,rgba(18,18,45,1) 100%)
				background: linear-gradient(to bottom,  rgba(44,63,140,1) 0%,rgba(18,18,45,1) 100%)
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c3f8c', endColorstr='#12122d',GradientType=0 )
				-webkit-border-radius: 22px 22px 22px 22px
				border-radius: 22px 22px 22px 22px
				border: 1px solid #0E0E2B
				color: #fff
				font-family: 'FS Rufus', serif
				font-size: 18px
				font-weight: bold
				padding: 10px 20px 10px 23px
				display: block
				margin-top: 30px 
				margin-left: auto
				margin-right: auto
				text-shadow: 1px 1px #12122D
				text-align: center
				width: 80%
			