@media (min-width: 900px) 

	td
		&.views-field-field-title
			width: 60%
		&.views-field-field-magento-syllabus
			width: 15%
		&.views-field-views-conditional
			width: 10%	
			text-align: left
		&.views-field-field-magento-url
			width: 15%