.node-type-quiz

	.col-sm-9
	
		.tabs--primary
			display: none
			
		#block-system-main	
			
			.field-name-quiz-overview:after
				content: "Click to begin your quiz - if it is timed, the clock will begin as soon as you press the button."
			
			.quiz-start-link
				background: rgb(44,63,140)
				background: -moz-linear-gradient(top,  rgba(44,63,140,1) 0%, rgba(18,18,45,1) 100%)
				background: -webkit-linear-gradient(top,  rgba(44,63,140,1) 0%,rgba(18,18,45,1) 100%)
				background: linear-gradient(to bottom,  rgba(44,63,140,1) 0%,rgba(18,18,45,1) 100%)
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c3f8c', endColorstr='#12122d',GradientType=0 )
				-webkit-border-radius: 22px 22px 22px 22px
				border-radius: 22px 22px 22px 22px
				border: 1px solid #0E0E2B
				color: #fff
				font-family: 'FS Rufus', serif
				font-size: 18px
				font-weight: bold
				padding: 10px 20px 10px 23px
				display: block
				margin-top: 30px 
				margin-left: auto
				margin-right: auto
				text-shadow: 1px 1px #12122D
				text-align: center
				width: 80%
			
.page-node-take-,
.page-node-quiz-results

	.tabs--primary
		display: none