.front

	.view-homepage-carousel

		.node-social-event.view-mode-homepage_slider
			position: relative
		
			.field-name-title
				position: absolute
				left: 15px
				bottom: 49px
				max-width: 60%
				
				h2
					font-size: 16px
					background-color: #000000
					color: #ffffff
					padding: 4px 10px 4px 10px
					opacity: .8
					font-family: 'FS Rufus', serif
					margin: 4px 0px 0px 0px
				
				&:before
					content: 'Social Event'
					color: white
					background: $dark-blue
					padding: 6px 12px 6px 12px
					font-family: 'FS Rufus', serif
					font-size: 18px
					margin: 0px 0px 0px 0px
			
			.field-name-node-link
				position: absolute
				left: 15px
				bottom: 20px
				
				p,
				a
					background-color: #ffffff
					color: #00377a
					padding: 4px 10px 4px 10px
					font-size: 15px
					opacity: .8
					
		
.page-node
	
	#block-views-social-events-block
	
		.block-title
			display: block !important
			background-color: #fcd71e
			filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#E6F3AF26', endColorstr='#FFFCD71E')
			background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==')
			background-size: 100%
			background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(243, 175, 38, 0.9)), color-stop(90%, #fcd71e))
			background-image: -webkit-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
			background-image: -moz-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
			background-image: -o-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
			background-image: linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
			color: #00377a
			font-size: 18px
			font-weight: bold
			padding: 20px 20px 20px 23px
		
		.view-social-events
		
			.node-social-event
				border: 1px solid #e3e3e3
				background: -moz-linear-gradient(top,  rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.7) 100%)
				background: -webkit-linear-gradient(top,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.7) 100%)
				background: linear-gradient(to bottom,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.7) 100%)
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ffffff', endColorstr='#b3ffffff',GradientType=0 )
				padding: 10px
				margin: 20px 0px 20px 0px
				text-align: center
				
				.field-name-title
				
					h2
						font-size: 21px
						margin: 10px 0px 0px 0px
						
				.field-name-field-event-date
					font-weight: bold
					color: $dark-blue
					margin: 8px 0px 5px 0px
					
				.field-name-field-image
				
					img
						padding-bottom: 10px
	
		
		
					
.page-node.node-type-social-event

	#block-system-main
		
		.field-name-body
			font-weight: normal
			font-size: 18px
			margin: 0px 0px 20px 0px
			color: $black
			
		.field-name-field-image
		
			img
				padding: 0px 0px 20px 0px
			
			
		.field-group-htabs
			background: -moz-linear-gradient(top,  rgba(216,216,216,0.22) 0%, rgba(255,255,255,0) 100%)
			background: -webkit-linear-gradient(top,  rgba(216,216,216,0.22) 0%,rgba(255,255,255,0) 100%)
			background: linear-gradient(to bottom,  rgba(216,216,216,0.22) 0%,rgba(255,255,255,0) 100%)
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1fd8d8d8', endColorstr='#00ffffff',GradientType=0 )
			box-shadow: inset 0px 0px 8px #e1e1e1
			margin-bottom: 20px
		
			.panel-heading
				margin: 0px 0px 0px 0px
				font-size: 36px
				font-family: 'FS Rufus', serif
				font-weight: bold
				color: $dark-blue
				background-color: #fcd71e
				filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#E6F3AF26', endColorstr='#FFFCD71E')
				background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==')
				background-size: 100%
				background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(243, 175, 38, 0.9)), color-stop(90%, #fcd71e))
				background-image: -webkit-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
				background-image: -moz-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
				background-image: -o-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
				background-image: linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
				padding: 10px 10px 10px 15px
				
				.panel-title
					font-size: 18px
				
			.panel-body
			
				.field
					margin: 5px 5px 5px 5px
					
					.date-display-single,
					.date-display-range
						display: inline-block
				
		.field-name-field-more-information
			white-space: pre-wrap
			
			.field-label
				font-weight: bold
				font-size: 18px
				margin: 0px 0px 10px 0px
				color: $dark-blue
		
		
.page-why-ih-bristol-social-programme-events-calendar

	.view-social-events
	
		.view-header
			margin: 0px 0px 20px 0px
			
		.view-filters
			background: -moz-linear-gradient(top,  rgba(216,216,216,0.22) 0%, rgba(255,255,255,0) 100%)
			background: -webkit-linear-gradient(top,  rgba(216,216,216,0.22) 0%,rgba(255,255,255,0) 100%)
			background: linear-gradient(to bottom,  rgba(216,216,216,0.22) 0%,rgba(255,255,255,0) 100%)
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1fd8d8d8', endColorstr='#00ffffff',GradientType=0 )
			box-shadow: inset 0px 0px 8px #e1e1e1
			margin-bottom: 20px
			padding: 10px
			
			#edit-field-event-date-value-1-wrapper
				
				
				
				#edit-field-event-date-value-min-wrapper
					display: inline-block
					position: relative
					padding: 45px 0px 0px 0px
					
					.date-padding
						margin: -35px 0px 0px 80px
						padding: 0px 0px 0px 0px
					
					.form-group
					
						.control-label
							position: absolute
							top: 17px
							left: 0px
							
				#edit-field-event-date-value-max-wrapper
					display: inline-block
					position: relative
					padding: 45px 0px 0px 0px
		
					.date-padding
						margin: -35px 0px 0px 80px
						padding: 0px 0px 0px 0px
		
					.form-group
		
						.control-label
							position: absolute
							top: 17px
							left: 6px
						
						
			#edit-field-age-group-tid-wrapper
				
				display: inline-block
				position: relative
				padding: 10px 0px 0px 0px
				
				.help-block
					display: none
			
				label
					margin: 5px 12px 0px 10px
					padding: 0px 0px 0px 0px
					
				.views-widget
					float: right
		
			.views-submit-button
				display: inline-block
				position: relative
				padding: 0px 0px 0px 20px
				margin: -14px 0px 0px 0px
				
				
		.fullcalendar
		
			.fc-first
			
				th
					background-color: #fcd71e
					filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#E6F3AF26', endColorstr='#FFFCD71E')
					background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==')
					background-size: 100%
					background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(243, 175, 38, 0.9)), color-stop(90%, #fcd71e))
					background-image: -webkit-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
					background-image: -moz-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
					background-image: -o-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
					background-image: linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
					color: #00377a
					font-size: 18px
					font-family: 'FS Rufus', serif
					font-weight: bold
					padding: 10px
					text-align: center
					
			.fc-event-inner
				background: $dark-blue
				padding: 4px
				
				.fc-event-time
					background: $dark-blue
					border: 0
					display: block
					margin-bottom: 4px