

img.lazyloader-icon
	position: relative
	display: block
	margin: 0 auto


.page-why-ih-bristol

	#block-system-main
	
		.view-staff-node
		
			.col-lg-4
			
				.node
					border: 1px solid #e3e3e3
					background: -moz-linear-gradient(top,  rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.7) 100%)
					background: -webkit-linear-gradient(top,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.7) 100%)
					background: linear-gradient(to bottom,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.7) 100%)
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ffffff', endColorstr='#b3ffffff',GradientType=0 )
					padding: 10px 20px 10px 20px
					margin: 10px 0px 10px 0px
					text-align: center
					
					.field-name-field-name-staff
						font-family: 'FSRufus', serif
						color: $dark-blue
						font-size: 16px
						font-weight: bold
						
					.field-name-field-job-title
						margin: 0px 0px 7px 0px
						
					.field-name-field-image
						margin: 0px 0px 8px 0px
						
						
.node-type-staff-member

	.page-header
		display: none

	.node-staff-member.view-mode-full
	
		.field-name-field-name-staff
			font-family: 'FSRufus', serif
			color: $dark-blue
			font-size: 21px
			font-weight: bold
			
			
		.field-name-field-job-title
			font-weight: bold
			font-size: 16px
			margin: 8px 0px 8px 0px

	.view-staff-node

		.col-lg-4
	
			.node
				border: 1px solid #e3e3e3
				background: -moz-linear-gradient(top,  rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.7) 100%)
				background: -webkit-linear-gradient(top,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.7) 100%)
				background: linear-gradient(to bottom,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.7) 100%)
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ffffff', endColorstr='#b3ffffff',GradientType=0 )
				padding: 10px 20px 10px 20px
				margin: 10px 0px 10px 0px
				text-align: center
			
				.field-name-field-name-staff
					font-family: 'FSRufus', serif
					color: $dark-blue
					font-size: 16px
					font-weight: bold
				
				.field-name-field-job-title
					margin: 0px 0px 7px 0px
				
				.field-name-field-image
				
					img
						margin: 8px auto