.page-node-48 #block-menu-block-2,
.page-node-32 #block-menu-block-2,
.page-node-34 #block-menu-block-2,
.page-node-35 #block-menu-block-2,
.page-node-36 #block-menu-block-2,
.page-node-37 #block-menu-block-2,
.page-node-38 #block-menu-block-2,
.page-node-7325 #block-menu-block-2,
.page-node-7326 #block-menu-block-2,
.page-node-7329 #block-menu-block-2,
.page-node-7327 #block-menu-block-2,
.page-node-7330 #block-menu-block-2,
.page-node-7328 #block-menu-block-2,
.page-node-31 #block-menu-block-2,
.page-node-33 #block-menu-block-2,
.page-exam-apply #block-menu-block-2
	display: none

#block-block-14

	.wrapper
		border: 1px solid #e3e3e3
		background: -moz-linear-gradient(top,  rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.7) 100%)
		background: -webkit-linear-gradient(top,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.7) 100%)
		background: linear-gradient(to bottom,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.7) 100%)
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ffffff', endColorstr='#b3ffffff',GradientType=0 )
		margin-bottom: 40px
		padding: 30px 30px 30px 30px
		text-align: center
		-webkit-border-radius: 12px 12px 12px 12px
		border-radius: 12px 12px 12px 12px
	
		a
			font-family: 'FS Rufus', serif
			color: $dark-blue
			font-size: 36px
			line-height: 30px
			display: block
			margin-bottom: 20px
		
		a.action-button
			color: white
			font-size: 21px


#block-block-15

	.wrapper
		border: 1px solid #e3e3e3
		background: -moz-linear-gradient(top,  rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.7) 100%)
		background: -webkit-linear-gradient(top,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.7) 100%)
		background: linear-gradient(to bottom,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.7) 100%)
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ffffff', endColorstr='#b3ffffff',GradientType=0 )
		margin-bottom: 40px
		padding: 30px 30px 30px 30px
		text-align: center
		-webkit-border-radius: 12px 12px 12px 12px
		border-radius: 12px 12px 12px 12px
	
		a
			font-family: 'FS Rufus', serif
			color: $dark-blue
			font-size: 36px
			line-height: 30px
			display: block
			margin-bottom: 20px
			
		a.action-button
			color: white
			font-size: 21px
		
		
#block-menu-menu-take-an-exam

	.nav
	
		li.active-trail
			background: #eeeeee
	
		li
		
			.dropdown-menu
			
				li
					margin: 8px 0px 8px 0px
					
					.active
						background: #eeeeee
						color: $black
						
						
						
#block-views-staff-node-block-1

	.view-staff-node
	
		.node-staff-member
			width: 30%
			float: left
			border: 1px solid #e3e3e3
			background: -moz-linear-gradient(top,  rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.7) 100%)
			background: -webkit-linear-gradient(top,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.7) 100%)
			background: linear-gradient(to bottom,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.7) 100%)
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ffffff', endColorstr='#b3ffffff',GradientType=0 )
			padding: 10px 20px 10px 20px
			margin: 10px 15px 10px 0px
			text-align: center
		
			.col-sm-12

		
				.field-name-field-name-staff
					font-family: 'FSRufus', serif
					color: $dark-blue
					font-size: 16px
					font-weight: bold
			
				.field-name-field-job-title
					margin: 0px 0px 7px 0px
			
				.field-name-field-image
			
					img
						margin: 8px auto


.region-sidebar-first

	#block-block-3
		border: 1px solid #e3e3e3
		background: -moz-linear-gradient(top,  rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.7) 100%)
		background: -webkit-linear-gradient(top,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.7) 100%)
		background: linear-gradient(to bottom,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.7) 100%)
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ffffff', endColorstr='#b3ffffff',GradientType=0 )
		margin-bottom: 20px
		
		.block-title
			background-color: #fcd71e
			filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#E6F3AF26', endColorstr='#FFFCD71E')
			background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==')
			background-size: 100%
			background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(243, 175, 38, 0.9)), color-stop(90%, #fcd71e))
			background-image: -webkit-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
			background-image: -moz-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
			background-image: -o-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
			background-image: linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
			color: #00377a
			font-size: 24px
			font-weight: bold
			padding: 20px 20px 20px 23px
			text-align: center
			margin-top: 0
			
		p
			padding: 5px 20px 20px 20px
		
		.action-button
			font-size: 16px
			padding: 10px
