.page-why-ih-bristol-student-testimonials

	#block-system-main
	
		.view-testimonials
		
			.col-lg-4
			
				.node
					border: 1px solid #e3e3e3
					background: -moz-linear-gradient(top,  rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.7) 100%)
					background: -webkit-linear-gradient(top,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.7) 100%)
					background: linear-gradient(to bottom,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.7) 100%)
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ffffff', endColorstr='#b3ffffff',GradientType=0 )
					padding: 10px 20px 10px 20px
					margin: 10px 0px 10px 0px
					text-align: center
					
					.field-name-field-author
						font-family: 'FSRufus', serif
						color: $dark-blue
						font-size: 16px
						font-weight: bold
						
					.field-name-body
						margin: 0px 0px 7px 0px
						
					.field-name-field-image
						margin: 0px 0px 8px 0px
						
						
.node-type-student-testimonial

	.page-header
		display: none
		
	.field-name-field-author
		font-size: 24px
		font-family: 'FSRufus', serif
		color: $dark-blue
		margin-bottom: 15px