.node-type-useful-expressions

	.field-name-field-category
		display: none
		
	.field-name-body
		font-family: 'FSRufus', serif
		color: $dark-blue
		font-size: 18px
		margin: 0px 0px 20px 0px
		
	#block-system-main
	
		.node-useful-expressions
		
		
			.col-sm-6
				border: 1px solid #e3e3e3
				background: -moz-linear-gradient(top,  rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.7) 100%)
				background: -webkit-linear-gradient(top,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.7) 100%)
				background: linear-gradient(to bottom,  rgba(255,255,255,0.9) 0%,rgba(255,255,255,0.7) 100%)
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ffffff', endColorstr='#b3ffffff',GradientType=0 )
				margin: 0px 30px 20px 0px
				padding: 0
				width: 45%
				
			
				.label-above
					background: $dark-blue
					color: white
					padding: 8px
					text-align: center
					
				ol
					margin: 20px 0px 20px 0px
					
					li
						margin: 0px 0px 0px 0px
						padding: 8px
						
		
.page-useful-english-expressions

	#block-system-main
	
		.view-useful-phrases
		
			p
				margin: 0px 0px 25px 0px
				
			.block-views
			
				.block-title
					display: block !important
					background-color: #fcd71e
					filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#E6F3AF26', endColorstr='#FFFCD71E')
					background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==')
					background-size: 100%
					background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(243, 175, 38, 0.9)), color-stop(90%, #fcd71e))
					background-image: -webkit-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
					background-image: -moz-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
					background-image: -o-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
					background-image: linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
					color: #00377a
					font-size: 24px
					text-align: center
					font-weight: bold
					padding: 20px 20px 20px 23px
					

			
				h3
					margin: 0px 0px 0px 0px
					border-top: 1px solid #ddd
					padding: 8px
			
					a
						color: #337ab7
						font-size: 14px
						font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
						font-weight: normal
						line-height: 1.42857143