$white: #fff
$black: #4b4b4b
$light-grey: #f4f4f4

$red: #eb1c23
$dark-green: #007956
$light-green: #99bb0c
$orange: #ef8900
$dark-blue: #2c3f8c
$purple: #b92770
$ochre: #faba01


@import jetmenu_overrides
@import header
@import main-menu
@import homepage
@import homepage-slider
@import menu-block
@import blog
@import forms
@import quiz
@import staff
@import testimonials
@import free-exercises
@import useful-expressions
@import exams-index
@import landing-page
@import language_page
@import online-learning
@import social-events
@import phrase-of-the-day
@import phrase-of-the-week
@import page-content
@import test-level
@import take-exam
@import contact
@import agents
@import entity_form
@import products
@import footer
@import 1200
@import 991
@import 979
@import 767
@import 680
@import 480



body
  background: white
.main-container
  min-height: 600px
a,
li

  -webkit-transition: all 100ms ease-in-out
  -moz-transition: all 100ms ease-in-out
  -ms-transition: all 100ms ease-in-out
  -o-transition: all 100ms ease-in-out
  transition: all 100ms ease-in-out

  &:hover
    -webkit-transition: all 100ms ease-in-out
    -moz-transition: all 100ms ease-in-out
    -ms-transition: all 100ms ease-in-out
    -o-transition: all 100ms ease-in-out
    transition: all 100ms ease-in-out
h1,
h2,
h3,
h4,
h5
  font-family: 'FS Rufus', serif
@font-face
  font-family: 'FS Rufus'
  font-style: bold
  font-weight: 700
  src: local('FS Rufus'), local('FSRufus'), url("/sites/default/files/fontyourface/local_fonts/FS_Rufus_Bold-normal-bold/FSRufusWeb-Bold.eot") format('eot')
  src: local('FS Rufus'), local('FSRufus'), url("/sites/default/files/fontyourface/local_fonts/FS_Rufus_Bold-normal-bold/FSRufusWeb-Bold.woff") format('woff')
  src: local('FS Rufus'), local('FSRufus'), url("/sites/default/files/fontyourface/local_fonts/FS_Rufus_Bold-normal-bold/FSRufusWeb-Bold.ttf") format('truetype')
@font-face
  font-family: 'FS Rufus'
  font-style: normal
  font-weight: 500
  src: local('FS Rufus'), local('FSRufus'), url("/sites/default/files/fontyourface/local_fonts/FS_Rufus-normal-normal/FSRufusWeb-Regular.eot") format('eot')
  src: local('FS Rufus'), local('FSRufus'), url("/sites/default/files/fontyourface/local_fonts/FS_Rufus-normal-normal/FSRufusWeb-Regular.woff") format('woff')
  src: local('FS Rufus'), local('FSRufus'), url("/sites/default/files/fontyourface/local_fonts/FS_Rufus-normal-normal/FSRufusWeb-Regular.ttf") format('truetype')
.navbar-default
  background-color: #fcd71e
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#E6F3AF26', endColorstr='#FFFCD71E')
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==')
  background-size: 100%
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(243, 175, 38, 0.9)), color-stop(90%, #fcd71e))
  background-image: -webkit-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
  background-image: -moz-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
  background-image: -o-linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
  background-image: linear-gradient(top, rgba(243, 175, 38, 0.9) 0%, #fcd71e 90%)
  -webkit-box-shadow: 0px 2px 25px 1px rgba(1, 1, 1, 0.55)
  -moz-box-shadow: 0px 2px 25px 1px rgba(1, 1, 1, 0.55)
  box-shadow: 0px 2px 25px 1px rgba(1, 1, 1, 0.55)
  border: 0
.navbar-header
  height: 155px
  width: 100%
  display: block
  float: none
  .logo
    display: block

    img
      max-width: 280px
      height: auto
      margin: 10px 0px 20px 0px
.main-container
  margin-top: -30px
  padding: 50px 90px 95px 90px
  background: transparent url('../img/bg_main_container.png') repeat
  -webkit-box-shadow: 0px 2px 45px 1px rgba(1, 1, 1, 0.15)
  -moz-box-shadow: 0px 2px 45px 1px rgba(1, 1, 1, 0.15)
  box-shadow: 0px 2px 45px 1px rgba(1, 1, 1, 0.15)
.breadcrumb
  margin-top: -5px
.action-button, .quiz-start-link
  background: rgb(44, 63, 140)
  background: -moz-linear-gradient(top, rgba(44, 63, 140, 1) 0%, rgba(18, 18, 45, 1) 100%)
  background: -webkit-linear-gradient(top, rgba(44, 63, 140, 1) 0%, rgba(18, 18, 45, 1) 100%)
  background: linear-gradient(to bottom, rgba(44, 63, 140, 1) 0%, rgba(18, 18, 45, 1) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2c3f8c', endColorstr='#12122d', GradientType=0)
  -webkit-border-radius: 22px 22px 22px 22px
  border-radius: 22px 22px 22px 22px
  border: 1px solid #0e0e2b
  color: #fff
  font-family: 'FS Rufus', serif
  font-size: 18px
  font-weight: bold
  padding: 10px 20px 10px 23px
  display: block
  margin-top: 30px
  margin-left: auto
  margin-right: auto
  text-shadow: 1px 1px #12122d
  text-align: center
  width: 80%
  -webkit-transition: all 100ms ease-in-out
  -moz-transition: all 100ms ease-in-out
  -ms-transition: all 100ms ease-in-out
  -o-transition: all 100ms ease-in-out
  transition: all 100ms ease-in-out

  &:hover
    color: #fff
    -webkit-box-shadow: 2px 2px 12px 2px #131a4b
    box-shadow: 2px 2px 12px 2px #131a4b
    -webkit-transition: all 100ms ease-in-out
    -moz-transition: all 100ms ease-in-out
    -ms-transition: all 100ms ease-in-out
    -o-transition: all 100ms ease-in-out
    transition: all 100ms ease-in-out
.embed-container,
.embedded-video
  margin-top: 20px
  margin-bottom: 20px
  position: relative
  padding-bottom: 56.25%
  padding-top: 30px
  height: 0
  overflow: hidden
.embed-container iframe,
.embedded-video iframe,
.embed-container object,
.embedded-video object,
.embed-container embed,
.embedded-video embed
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
.node-type-page

  .field-name-body

    img
      max-width: 100%
      height: auto
h2.block-title,
.block-title
  display: block !important
