@font-face {
  font-family: 'FS Rufus Bold';
  src: url("FSRufusWeb-Bold.eot");
  src: url("FSRufusWeb-Bold.eot?#iefix") format("embedded-opentype"), url("FSRufusWeb-Bold.woff") format("woff");
  font-style: normal;
  font-weight: bold;
}
