fieldset#questions {
	width: 60%;
}

fieldset#answers {
	padding-top: 20px;
}

.question_type_name {
	display: none
}

#questions .sentence {
	display: inline;
	font-size: 1.3em;
}


#questions .sentence p {
	display: inline
}

span.word-formation {
	font-weight: bold;
	position: absolute;
	right: 0;
}

#quiz-question-answering-form .quiz-question-multichoice h2,
#quiz-question-answering-form  .quiz-question-word-formation h2 {
	display: none
}

fieldset#answers {
	width: 60%;
}

fieldset#answers fieldset ol {
	list-style-type: decimal;
	list-style-position: outside;
	margin-left: 0;
	padding-left: 20px;
}

fieldset#answers ol li {
	padding-right:0;
	padding-top:0;
	position: relative;
	min-height: 40px;
	margin-top: 0;
}

fieldset#answers ol li div {
	margin-top: 0;
	display: inline-block;
	padding-top: 0;
	position: relative;
	top: 0;
	width: 100%;
	border-right: 10px solid #FFF;
	padding: 5px;
}


fieldset#answers ol li div label {
	visibility: hidden;
}

fieldset#answers ol li div input {
	padding-top: 0;
	margin-top: -25px;
}

span.example-spacer,
span.spacer {
	min-width: 80px;
	display: inline-block;
	border-bottom: 2px dotted black;
	height: 1.2em;
	margin-left: 5px;
	margin-right: 5px;
	padding-left:5px;
	padding-right:5px;
	background-color: #FFFFA5
}

span.wr {
	white-space: nowrap;
}


span.example-spacer {
	font-style: oblique;
	font-size: .9em;
	line-height: 1.2em;
	font-weight: bold;
}

span.sentence span.example-counter {
	font-size: .9em
}

span.sentence span.counter:before{
	content: attr(data-counter) ":";
	display: inline;
}

fieldset#answers div.has-error {
	background-color: #fddfde;
	position: relative;
}

fieldset#answers div.has-error input {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

fieldset#answers div.has-error:before {
	right: 10px;
	top: 10px;
	content: 'You must provide an answer.';
	position: absolute;
	color: #a94442;
}

/* answers */
div.quiz-result-answer-quiz-result-answer .content {
	position: relative;
}

div.quiz-result-answer-quiz-result-answer .content .word-formation {
	clear: both;
	float: none;
	display: block;
	position: relative;
	padding: 3px;
}

div.quiz-result-answer-quiz-result-answer .content .sentence:before {
	content: 'Sentence: ';
	font-weight: normal;	
}


div.quiz-result-answer-quiz-result-answer .content .word-formation:before {
	content: 'Keyword: ';
	font-weight: normal;
}
